In [1]:
import pandas as pd

df = pd.read_csv("./Fish.csv")

In [51]:
df.describe()

            Weight     Length1     Length2     Length3      Height       Width
count   159.000000  159.000000  159.000000  159.000000  159.000000  159.000000
mean    398.326415   26.247170   28.415723   31.227044    8.970994    4.417486
std     357.978317    9.996441   10.716328   11.610246    4.286208    1.685804
min       0.000000    7.500000    8.400000    8.800000    1.728400    1.047600
25%     120.000000   19.050000   21.000000   23.150000    5.944800    3.385650
50%     273.000000   25.200000   27.300000   29.400000    7.786000    4.248500
75%     650.000000   32.700000   35.500000   39.650000   12.365900    5.584500
max    1650.000000   59.000000   63.400000   68.000000   18.957000    8.142000

In [3]:
# Count the number of null values in the entire DataFrame
df.isnull().sum().sum()

0

In [16]:
# 4) Which of the following statements is true?
# Parkki fish constitutes more proportion than Pike in dataset
# Smelt and whiteFish are equally distributed in the dataset.
# None of the above
# Both 1 and 2

grouped_by_species = df.groupby("Species").size()

Species
Bream        35
Parkki       11
Perch        56
Pike         17
Roach        20
Smelt        14
Whitefish     6
dtype: int64

In [17]:
# 5) Compute the proportion of Perch in the Given dataset?
# 31.28%
# 43.46%
# 47.21%
# 35.22%
(grouped_by_species / len(df)) * 100

Species
Bream        22.012579
Parkki        6.918239
Perch        35.220126
Pike         10.691824
Roach        12.578616
Smelt         8.805031
Whitefish     3.773585
dtype: float64

In [32]:
# df['Species'].unique().shape
grouped_by_species.count()

7

In [46]:
# Determine the species having average weight greater than other species present?
# WhiteFish
# Perch
# Pike
# Bream

df.groupby("Species")["Weight"].mean().idxmax()

'Pike'

In [63]:
df.groupby("Species")["Weight"].max()

Species
Bream        1000.0
Parkki        300.0
Perch        1100.0
Pike         1650.0
Roach         390.0
Smelt          19.9
Whitefish    1000.0
Name: Weight, dtype: float64

In [64]:
df.groupby("Species")["Height"].mean()

Species
Bream        15.183211
Parkki        8.962427
Perch         7.861870
Pike          7.713771
Roach         6.694795
Smelt         2.209371
Whitefish    10.027167
Name: Height, dtype: float64

In [65]:
df.groupby('Species')['Width'].mean()

Species
Bream        5.427614
Parkki       3.220736
Perch        4.745723
Pike         5.086382
Roach        3.657850
Smelt        1.340093
Whitefish    5.473050
Name: Width, dtype: float64