In [19]:
import pandas as pd

df = pd.read_csv("./OnlineRetail.csv", encoding="unicode_escape")
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [20]:
cols_to_exclude = ["CustomerID"]
df[list(set(df.columns) - {*cols_to_exclude})].describe()

            Quantity      UnitPrice
count  541909.000000  541909.000000
mean        9.552250       4.611114
std       218.081158      96.759853
min    -80995.000000  -11062.060000
25%         1.000000       1.250000
50%         3.000000       2.080000
75%        10.000000       4.130000
max     80995.000000   38970.000000

In [27]:
# 1) What is the unique count of the invoice numbers?
# 34000
# 25900
# 25700
# 26200
df["InvoiceNo"].unique().shape[0]

25900

In [36]:
# 2) How many people bought “PARTY BUNTING”?
# 2343
# 1727
# 2200
# 2159
df[df["Description"] == "PARTY BUNTING"]["Description"].count()

1727

In [88]:
# 3) How many people bought “WHITE HANGING HEART T-LIGHT HOLDER”.
# 2364
# 2360
# 2369
# 2387
df[df["Description"] == "WHITE HANGING HEART T-LIGHT HOLDER"]["Description"].count()

2369

In [83]:
# 4) How many unique people are from the “UNITED KINGDOM”.
# 361878
# 361468
# 342679
# 361874
df[df["Country"] == "United Kingdom"]['CustomerID'].nunique()

3950

In [63]:
# 5) Which customer(CustomerID) has done the highest transaction in the dataset?
# 14687
# 14567
# 14646
# 14578
df.groupby("CustomerID")["InvoiceNo"].count().idxmax()

17841.0

In [59]:
# 6) What is the average amount of transactions?
# 19
# 34.78
# 17.98
# 36.94
# df['InvoiceNo'].unique()
df["InvoiceNo"].count() / len(df["InvoiceNo"].unique())

20.923127413127414

In [49]:
# 7) What is the frequently bought item in the dataset?
# JUMBO BAG RED RETROSPOT
# PARTY BUNTING
# REGENCY CAKESTAND 3 TIER
# WHITE HANGING HEART T-LIGHT HOLDER
df.groupby("Description").size().idxmax()

'WHITE HANGING HEART T-LIGHT HOLDER'