5. Perform the following operation on PySpark.\

Input Data:\

```
+---+--------+
| id| name      |
+---+--------+
| 1 | Intellipaat   |
| 1 |Intellipaat1   |
| 2 |Intellipaat2   |
| 2 |Intellipaat3   |
| 3 |Intellipaat4   |
| 3 |Intellipaat5   |
| 3 |Intellipaat6  |
+---+--------+
```

Output Data:\

```
id, names
1 yogita,yogita1
2 yogita2,yogita3
3 yogita4,yogita5,yogita6
```

NOTE: Prepare a Google Colab notebook, include code and results, and share the notebook link with proper access permissions for evaluation. Failing to do so will result in zero marks.

In [1]:
import findspark

findspark.init()
findspark.find()

'C:\\Program Files\\spark\\spark-3.4.1-bin-hadoop3'

In [2]:
from pyspark.sql import SparkSession, functions as f

spark = SparkSession.builder.appName("AggregateStrings").getOrCreate()
spark

In [3]:
input_data = [
    [1, "Intellipaat"],
    [1, "Intellipaat1"],
    [2, "Intellipaat2"],
    [2, "Intellipaat3"],
    [3, "Intellipaat4"],
    [3, "Intellipaat5"],
    [3, "Intellipaat6"],
]

In [4]:
# Create a DataFrame from the list
df = spark.createDataFrame(input_data, ["id", "name"])
df.show()

+---+------------+
| id|        name|
+---+------------+
|  1| Intellipaat|
|  1|Intellipaat1|
|  2|Intellipaat2|
|  2|Intellipaat3|
|  3|Intellipaat4|
|  3|Intellipaat5|
|  3|Intellipaat6|
+---+------------+

In [5]:
df.groupBy("id").agg(f.collect_list("name").alias("name"))\
    .withColumn("name", f.concat_ws(',',f.col('name')))\
    .withColumn("name", f.regexp_replace('name','Intellipaat','yogita'))\
    .show(20,False)

+---+-----------------------+
|id |name                   |
+---+-----------------------+
|1  |yogita,yogita1         |
|2  |yogita2,yogita3        |
|3  |yogita4,yogita5,yogita6|
+---+-----------------------+