In [2]:
-- 1 Display the “FIRST_NAME” from Employee table using the alias name 
-- as Employee_name.
SELECT FIRST_NAME AS Employee_name
FROM EMPLOYEEDETAILS

Employee_name
Anika
Veena
Vishal
Sushanth
Bhupal
Dheeraj
Karan
Chandrika

In [2]:
-- 2 Display “LAST_NAME” from Employee table in upper case.
SELECT UPPER(LAST_NAME) AS LAST_NAME
FROM EMPLOYEEDETAILS

LAST_NAME
ARORA
VERMA
SINGHAL
SINGH
BHATI
DIWAN
KUMAR
CHAUHAN

In [4]:
-- 3 Display unique values of DEPARTMENT from EMPLOYEE table.
SELECT DISTINCT(DEPARTMENT) AS DEPARTMENTS
FROM EMPLOYEEDETAILS

DEPARTMENTS
Account
Admin
HR

In [13]:
-- 4 Display the first three characters of LAST_NAME from EMPLOYEE table.
SELECT LAST_NAME, SUBSTRING(LAST_NAME,1,3)
FROM EMPLOYEEDETAILS

LAST_NAME,(No column name)
Arora,Aro
Verma,Ver
Singhal,Sin
Singh,Sin
Bhati,Bha
Diwan,Diw
Kumar,Kum
Chauhan,Cha

In [14]:
-- 5 Display the unique values of DEPARTMENT from EMPLOYEE table and 
-- prints its length.
SELECT DISTINCT(DEPARTMENT) AS DEPARTMENTS, LEN(DEPARTMENT) AS LEN
FROM EMPLOYEEDETAILS

DEPARTMENTS,LEN
Account,7
Admin,5
HR,2

In [22]:
-- 6 Display the FIRST_NAME and LAST_NAME from EMPLOYEE table into a 
-- single column AS FULL_NAME a space char should separate them.
-- SELECT
--     FIRST_NAME +' '+
--     LAST_NAME AS FULL_NAME
-- FROM EMPLOYEEDETAILS
SELECT
CONCAT_WS(' ',FIRST_NAME,LAST_NAME)
    AS FULL_NAME
FROM EMPLOYEEDETAILS

FULL_NAME
Anika Arora
Veena Verma
Vishal Singhal
Sushanth Singh
Bhupal Bhati
Dheeraj Diwan
Karan Kumar
Chandrika Chauhan

In [23]:
-- 7 DISPLAY all EMPLOYEE details from the employee table 
-- order by FIRST_NAME Ascending.
SELECT *
FROM EMPLOYEEDETAILS
ORDER BY FIRST_NAME

Employee_id,First_name,Last_Name,Salary,Joining_date,Department
1,Anika,Arora,100000,2020-02-14 09:00:00.0000000,HR
5,Bhupal,Bhati,500000,2011-06-18 09:00:00.0000000,Admin
8,Chandrika,Chauhan,90000,2011-04-15 09:00:00.0000000,Admin
6,Dheeraj,Diwan,200000,2011-06-19 09:00:00.0000000,Account
7,Karan,Kumar,75000,2020-01-14 09:00:00.0000000,Account
4,Sushanth,Singh,500000,2020-02-17 09:00:00.0000000,Admin
2,Veena,Verma,80000,2011-06-15 09:00:00.0000000,Admin
3,Vishal,Singhal,300000,2020-02-16 09:00:00.0000000,HR

In [27]:
-- 8. Display all EMPLOYEE details order by FIRST_NAME Ascending and 
-- DEPARTMENT Descending.

SELECT *
FROM EMPLOYEEDETAILS
ORDER BY FIRST_NAME, DEPARTMENT DESC

Employee_id,First_name,Last_Name,Salary,Joining_date,Department
1,Anika,Arora,100000,2020-02-14 09:00:00.0000000,HR
5,Bhupal,Bhati,500000,2011-06-18 09:00:00.0000000,Admin
8,Chandrika,Chauhan,90000,2011-04-15 09:00:00.0000000,Admin
6,Dheeraj,Diwan,200000,2011-06-19 09:00:00.0000000,Account
7,Karan,Kumar,75000,2020-01-14 09:00:00.0000000,Account
4,Sushanth,Singh,500000,2020-02-17 09:00:00.0000000,Admin
2,Veena,Verma,80000,2011-06-15 09:00:00.0000000,Admin
3,Vishal,Singhal,300000,2020-02-16 09:00:00.0000000,HR

In [28]:
-- 9 Display details for EMPLOYEE with the first name as “VEENA” and 
-- “KARAN” from EMPLOYEE table

SELECT *
FROM EMPLOYEEDETAILS
WHERE FIRST_NAME IN ('VEENA','KARAN')

Employee_id,First_name,Last_Name,Salary,Joining_date,Department
2,Veena,Verma,80000,2011-06-15 09:00:00.0000000,Admin
7,Karan,Kumar,75000,2020-01-14 09:00:00.0000000,Account

In [29]:
-- 10 Display details of EMPLOYEE with DEPARTMENT name as “Admin”.
SELECT * FROM EMPLOYEEDETAILS WHERE DEPARTMENT='ADMIN'

Employee_id,First_name,Last_Name,Salary,Joining_date,Department
2,Veena,Verma,80000,2011-06-15 09:00:00.0000000,Admin
4,Sushanth,Singh,500000,2020-02-17 09:00:00.0000000,Admin
5,Bhupal,Bhati,500000,2011-06-18 09:00:00.0000000,Admin
8,Chandrika,Chauhan,90000,2011-04-15 09:00:00.0000000,Admin

In [32]:
-- 11 DISPLAY details of the EMPLOYEES whose FIRST_NAME contains ‘V’.
SELECT * FROM EMPLOYEEDETAILS WHERE FIRST_NAME LIKE '%v%'

Employee_id,First_name,Last_Name,Salary,Joining_date,Department
2,Veena,Verma,80000,2011-06-15 09:00:00.0000000,Admin
3,Vishal,Singhal,300000,2020-02-16 09:00:00.0000000,HR

In [33]:
-- 12 DISPLAY details of the EMPLOYEES whose SALARY lies between 
-- 100000 and 500000.
SELECT *
FROM EMPLOYEEDETAILS
WHERE SALARY BETWEEN 100000 AND 500000

Employee_id,First_name,Last_Name,Salary,Joining_date,Department
1,Anika,Arora,100000,2020-02-14 09:00:00.0000000,HR
3,Vishal,Singhal,300000,2020-02-16 09:00:00.0000000,HR
4,Sushanth,Singh,500000,2020-02-17 09:00:00.0000000,Admin
5,Bhupal,Bhati,500000,2011-06-18 09:00:00.0000000,Admin
6,Dheeraj,Diwan,200000,2011-06-19 09:00:00.0000000,Account

In [36]:
-- 13 Display details of the employees who have joined in Feb-2020.
SELECT * FROM EMPLOYEEDETAILS WHERE JOINING_DATE BETWEEN '2020-02-01' AND '2020-02-29'

Employee_id,First_name,Last_Name,Salary,Joining_date,Department
1,Anika,Arora,100000,2020-02-14 09:00:00.0000000,HR
3,Vishal,Singhal,300000,2020-02-16 09:00:00.0000000,HR
4,Sushanth,Singh,500000,2020-02-17 09:00:00.0000000,Admin

In [37]:
-- 14 Display employee names with salaries >= 50000 and <= 100000.
SELECT FIRST_NAME FROM EMPLOYEEDETAILS WHERE Salary >= 50000 AND Salary <= 100000

FIRST_NAME
Anika
Veena
Karan
Chandrika

In [39]:
-- 16 DISPLAY details of the EMPLOYEES who are also Managers.
SELECT *
FROM EmployeeDetails ED JOIN EmployeeTitle ET ON  ED.Employee_id=ET.Employee_ref_id
WHERE ET.Employee_title='MANAGER'

Employee_id,First_name,Last_Name,Salary,Joining_date,Department,Employee_ref_id,Employee_title,Affective_Date
1,Anika,Arora,100000,2020-02-14 09:00:00.0000000,HR,1,Manager,2016-02-20 00:00:00.0000000
5,Bhupal,Bhati,500000,2011-06-18 09:00:00.0000000,Admin,5,Manager,2016-06-11 00:00:00.0000000

-- 17 DISPLAY duplicate records having matching data in some fields of a table.

-- ?? PLEASE EXPLAIN ABOEVE PRONBLEM STATEMENT

In [48]:
-- 18 Display only odd rows from a table.
SELECT *
FROM (SELECT ROW_NUMBER() OVER(ORDER BY EMPLOYEE_ID) AS RN,*
    FROM EmployeeDetailS) A
WHERE rn%2=1

RN,Employee_id,First_name,Last_Name,Salary,Joining_date,Department
1,1,Anika,Arora,100000,2020-02-14 09:00:00.0000000,HR
3,3,Vishal,Singhal,300000,2020-02-16 09:00:00.0000000,HR
5,5,Bhupal,Bhati,500000,2011-06-18 09:00:00.0000000,Admin
7,7,Karan,Kumar,75000,2020-01-14 09:00:00.0000000,Account

In [52]:
-- 19 Clone a new table from EMPLOYEE table.
SELECT *
INTO #EMPLOYEE
FROM EmployeeDetails

: Msg 2714, Level 16, State 6, Line 2
There is already an object named '#EMPLOYEE' in the database.

In [54]:
-- 20 DISPLAY the TOP 2 highest salary from a table.
SELECT TOP(2)
    SALARY
FROM EmployeeDetails
ORDER BY Salary DESC

SALARY
500000
500000

-- 21. DISPLAY the list of employees with the same salary.
SELECT * FROM EMPLOYEEDETAILS WHERE SALARY = (SELECT SALARY, COUNT(SALARY) AS CNT
FROM EmployeeDetails
GROUP BY Salary
HAVING COUNT(SALARY) >1)

In [72]:
-- 22 Display the second highest salary from a table.
SELECT MAX(salary) as second_highest_salary
FROM (
    SELECT DENSE_RANK() OVER (ORDER BY salary DESC) as salary_rank, salary
    FROM #EMPLOYEE
) sub_query
WHERE salary_rank = 2;

second_highest_salary
300000

In [75]:
-- 23 Display the first 50% records from a table.
SELECT TOP 50 PERCENT * FROM EmployeeDetails

Employee_id,First_name,Last_Name,Salary,Joining_date,Department
1,Anika,Arora,100000,2020-02-14 09:00:00.0000000,HR
2,Veena,Verma,80000,2011-06-15 09:00:00.0000000,Admin
3,Vishal,Singhal,300000,2020-02-16 09:00:00.0000000,HR
4,Sushanth,Singh,500000,2020-02-17 09:00:00.0000000,Admin

In [80]:
-- 24. Display the departments that have less than 4 people in it.
SELECT DEPARTMENT FROM EmployeeDetails GROUP BY Department HAVING COUNT(DEPARTMENT)<4

DEPARTMENT
Account
HR

In [83]:
-- 25. Display all departments along with the number of people in there.
SELECT Department,COUNT(*) AS NO_OF_PEOPLEE FROM EmployeeDetails GROUP BY Department

Department,NO_OF_PEOPLEE
Account,2
Admin,4
HR,2

In [90]:
-- 26 Display the name of employees having the highest salary in each 
-- department.
SELECT FIRST_NAME, ED.DEPARTMENT, SALARY
FROM EmployeeDetails ED INNER JOIN
    (SELECT DEPARTMENT, MAX(Salary) AS MAX_SAL
    FROM EmployeeDetails
    GROUP BY Department) MS ON ED.DEPARTMENT=MS.Department AND ED.Salary=MS.MAX_SAL

FIRST_NAME,DEPARTMENT,SALARY
Vishal,HR,300000
Sushanth,Admin,500000
Bhupal,Admin,500000
Dheeraj,Account,200000

In [96]:
-- 27 Display the names of employees who earn the highest salary.
SELECT FIRST_NAME
FROM EmployeeDetails
WHERE Salary=(SELECT MAX(SALARY) MAX_SAL
FROM EmployeeDetails)

FIRST_NAME
Sushanth
Bhupal

In [99]:
-- 28 Diplay the average salaries for each department
SELECT Department,AVG(SALARY) FROM EmployeeDetails GROUP BY Department

Department,(No column name)
Account,137500
Admin,292500
HR,200000

In [107]:
-- 29 display the name of the employee who has got maximum bonus
-- SELECT FIRST_NAME FROM EmployeeDetails WHERE EMPLOYEE_ID IN (SELECT Employee_ref_id_FK,MAX(Bonus_Amount) BA FROM EmployeeBonus)
SELECT Employee_ref_id_FK
FROM EmployeeTitle
WHERE BONUS=(SELECT MAX(Bonus_Amount) BA
FROM EmployeeBonus)

: Msg 8120, Level 16, State 1, Line 3
Column 'EmployeeBonus.Employee_ref_id_FK' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.

In [101]:
-- 30 Display the first name and title of all the employees
SELECT FIRST_NAME, ET.Employee_title
FROM EmployeeDetails ED INNER JOIN EmployeeTitle ET ON ED.Employee_id=ET.Employee_ref_id

FIRST_NAME,Employee_title
Anika,Manager
Veena,Executive
Chandrika,Executive
Bhupal,Manager
Sushanth,Asst. Manager
Karan,Executive
Dheeraj,Lead
Vishal,Lead