In [3]:
--SELECT * FROM INFORMATION_SCHEMA.TABLES

TABLE_CATALOG,TABLE_SCHEMA,TABLE_NAME,TABLE_TYPE
AssignmentSQLQueries,dbo,STUDIES,BASE TABLE
AssignmentSQLQueries,dbo,SOFTWARE,BASE TABLE
AssignmentSQLQueries,dbo,PROGRAMMER,BASE TABLE

In [5]:
-- 1. Find out the selling cost AVG for packages developed in Pascal. 
SELECT AVG(SCOST) AS AVG_SCOST_PASCAL FROM SOFTWARE WHERE DEVELOPIN='PASCAL'

AVG_SCOST_PASCAL
3066.65

In [7]:
-- 2. Display Names, Ages of all Programmers. 
SELECT PNAME, DATEDIFF(YY,DOB,GETDATE())
FROM PROGRAMMER

PNAME,(No column name)
ANAND,57
ALTAF,59
JULIANA,63
KAMALA,55
MARY,53
NELSON,38
PATTRICK,58
QADIR,58
RAMESH,56
REBECCA,56
REMITHA,53
REVATHI,54
VIJAYA,58

In [8]:
-- 3. Display the Names of those who have done the DAP Course. 
SELECT PNAME
FROM STUDIES
WHERE COURSE='DAP'

PNAME
NELSON
REVATHI

In [9]:
-- 4. Display the Names and Date of Births of all Programmers Born in January. 
SELECT PNAME, DOB
FROM PROGRAMMER
WHERE MONTH(DOB)=1

PNAME,DOB
JULIANA,1960-01-31
REBECCA,1967-01-01

In [12]:
-- 5. What is the Highest Number of copies sold by a Package? 
SELECT MAX(sold) MAX_PACKAGE_SOLD
FROM SOFTWARE

MAX_PACKAGE_SOLD
84

In [13]:
-- 6. Display lowest course Fee. 
SELECT MIN([COURSE FEE]) AS LOWEST_COURSE_FEE
FROM STUDIES

LOWEST_COURSE_FEE
4500

In [16]:
-- 7. How many programmers done the PGDCA Course? 
SELECT COUNT(*) AS NO_OF_PGDA_STUDENTS
FROM STUDIES
WHERE COURSE='PGDCA'

NO_OF_PGDA_STUDENTS
3

In [17]:
-- 8. How much revenue has been earned thru sales of Packages Developed in C.
SELECT SUM(SCOST) AS TOTAL_SCOST_C
FROM SOFTWARE
WHERE DEVELOPIN='C'

TOTAL_SCOST_C
8025

In [18]:
-- 9. Display the Details of the Software Developed by Ramesh. 
SELECT *
FROM SOFTWARE
WHERE PNAME='Ramesh'

PNAME,TITLE,DEVELOPIN,SCOST,DCOST,SOLD
RAMESH,HOTEL MGMT.,DBASE,13000,35000,4
RAMESH,DEAD LEE,PASCAL,599.95,4500,73

In [19]:
-- 10. How many Programmers Studied at Sabhari? 
SELECT COUNT(*) AS NO_OF_PROGRAMMERS_STUDIED_AT_SABHARI
FROM STUDIES
WHERE INSTITUTE='SABHARI'

NO_OF_PROGRAMMERS_STUDIED_AT_SABHARI
4

In [28]:
-- 11. Display details of Packages whose sales crossed the 2000 Mark. 
SELECT PNAME, SA.TITLE, SOLD
FROM SOFTWARE SS INNER JOIN (SELECT TITLE
    FROM SOFTWARE
    GROUP BY TITLE
    HAVING SUM(SOLD)>2000) SA ON SS.TITLE=SA.TITLE

In [33]:
-- 12. Display the Details of Packages for which Development Cost have been recovered. 
SELECT *
FROM SOFTWARE
WHERE (SCOST*SOLD) >DCOST

PNAME,TITLE,DEVELOPIN,SCOST,DCOST,SOLD
MARY,README,CPP,300,1200,84
ANAND,PARACHUTES,BASIC,399.95,6000,43
ANAND,VIDEO TITLING,PASCAL,7500,16000,9
KAMALA,PAYROLL PKG.,DBASE,9000,20000,7
MARY,CODE GENERATOR,C,4500,20000,23
PATTRICK,README,CPP,300,1200,84
QADIR,BOMBS AWAY,ASSEMBLY,750,3000,11
QADIR,VACCINES,C,1900,3100,21
RAMESH,HOTEL MGMT.,DBASE,13000,35000,4
RAMESH,DEAD LEE,PASCAL,599.95,4500,73
REMITHA,PC UTILITIES,C,725,5000,51
REMITHA,TSR HELP PKG.,ASSEMBLY,2500,6000,7
VIJAYA,TSR EDITOR,C,900,700,6

In [48]:
-- 13. What is the cost of the costliest software development in Basic? 
SELECT MAX(DCOST) AS DCOST
FROM SOFTWARE
WHERE DEVELOPIN='BASIC'

DCOST
6000

In [50]:
-- 14. How many Packages Developed in DBASE? 
SELECT COUNT(*) AS "Packages Developed in DBASE"
FROM SOFTWARE
WHERE DEVELOPIN='DBASE'

Packages Developed in DBASE
2

In [51]:
-- 15. How many programmers studied in Pragathi? 
SELECT COUNT(*) "programmers studied in Pragathi"
FROM STUDIES
WHERE INSTITUTE='PRAGATHI'

programmers studied in Pragathi
3

In [52]:
-- 16. How many Programmers Paid 5000 to 10000 for their course? 
SELECT COUNT(*) AS "Programmers Paid 5000 to 10000"
FROM STUDIES
WHERE [COURSE FEE] BETWEEN 5000 AND 10000

Programmers Paid 5000 to 10000
6

In [54]:
-- 17. What is AVG Course Fee 
SELECT AVG([COURSE FEE]) AS AVG_COURSE_FEE
FROM STUDIES

AVG_COURSE_FEE
11007

In [55]:
-- 18. Display the details of the Programmers Knowing C.
SELECT *
FROM PROGRAMMER
WHERE 'C' IN (PROF1,PROF2)

PNAME,DOB,DOJ,GENDER,PROF1,PROF2,SALARY
KAMALA,1968-10-30,1992-01-02,F,C,DBASE,2900
QADIR,1965-08-31,1991-04-21,M,ASSEMBLY,C,3000
REMITHA,1970-04-19,1993-04-20,F,C,ASSEMBLY,3600
VIJAYA,1965-12-14,1992-05-02,F,FOXPRO,C,3500

In [56]:
-- 19. How many Programmers know either COBOL or PASCAL. 
SELECT COUNT(*) AS "Programmers know either COBOL or PASCAL" FROM PROGRAMMER WHERE PROF1 IN ('PASCAL','COBOL')

Programmers know either COBOL or PASCAL
6

In [59]:
-- 20. How many Programmers Don’t know PASCAL and C 
SELECT COUNT(*) AS "Programmers Don’t know PASCAL and C"
FROM PROGRAMMER
WHERE 'PASCAL' NOT IN (PROF1,PROF2) AND 'C' NOT IN (PROF1,PROF2)

Programmers Don’t know PASCAL and C
5

In [64]:
-- 21. How old is the Oldest Male Programmer. 
SELECT TOP 1
    DATEDIFF(YY,DOB,GETDATE()) AS "AGE(YEARS)"
FROM PROGRAMMER
WHERE GENDER='M'
ORDER BY DOB

AGE(YEARS)
59

In [67]:
-- 22. What is the AVG age of Female Programmers? 
SELECT AVG(DATEDIFF(YY,DOB,GETDATE())) AS AVG_AGE
FROM PROGRAMMER
WHERE GENDER='F'

AVG_AGE
56

In [69]:
-- 23. Calculate the Experience in Years for each Programmer and Display with their 
-- names in Descending order. 

SELECT PNAME, DATEDIFF(YY,DOJ,GETDATE()) AS "Experience in Years"
FROM PROGRAMMER
ORDER BY PNAME DESC

PNAME,Experience in Years
VIJAYA,31
REVATHI,31
REMITHA,30
REBECCA,33
RAMESH,32
QADIR,32
PATTRICK,33
NELSON,34
MARY,32
KAMALA,31
JULIANA,33
ANAND,31
ALTAF,33

In [70]:
-- 24. Who are the Programmers who celebrate their Birthday’s During the Current
-- Month?
SELECT *
FROM PROGRAMMER
WHERE MONTH(DOB) = MONTH(GETDATE())

PNAME,DOB,DOJ,GENDER,PROF1,PROF2,SALARY
ANAND,1966-04-12,1992-04-21,M,PASCAL,BASIC,3200
REMITHA,1970-04-19,1993-04-20,F,C,ASSEMBLY,3600

In [71]:
-- 25. How many Female Programmers are there? 
SELECT COUNT(*) NO_OF_FEMALE_PROGRAMMERS
FROM PROGRAMMER
WHERE GENDER='F'

NO_OF_FEMALE_PROGRAMMERS
7

In [90]:
-- 26. What are the Languages studied by Male Programmers. 
SELECT DISTINCT(PROF1)
FROM PROGRAMMER P1
    JOIN (SELECT PNAME, PROF2
    FROM PROGRAMMER) P2
    ON P1.PNAME=P2.PNAME

PROF1
ASSEMBLY
BASIC
C
CLIPPER
COBOL
CPP
FOXPRO
PASCAL

In [89]:
SELECT PROF1 FROM PROGRAMMER WHERE GENDER='M'
UNION 
SELECT PROF2 FROM PROGRAMMER WHERE GENDER='M'

PROF1
ASSEMBLY
BASIC
C
CLIPPER
COBOL
DBASE
PASCAL

In [93]:
-- 27. What is the AVG Salary? 
SELECT AVG(SALARY) AS AVG_SALARY
FROM PROGRAMMER

AVG_SALARY
3169

In [95]:
-- 28. How many people draw salary 2000 to 4000? 
SELECT COUNT(*) AS NO_OF_PEOPLE
FROM PROGRAMMER
WHERE SALARY BETWEEN 2000 AND 4000

NO_OF_PEOPLE
12

In [97]:
-- 29. Display the details of those who don’t know Clipper, COBOL or PASCAL. 
SELECT *
FROM PROGRAMMER
WHERE PROF1 NOT IN ('CLIPPER','COBOL','PASCAL') AND PROF2 NOT IN ('CLIPPER','COBOL','PASCAL')

PNAME,DOB,DOJ,GENDER,PROF1,PROF2,SALARY
KAMALA,1968-10-30,1992-01-02,F,C,DBASE,2900
MARY,1970-06-24,1991-02-01,F,CPP,ORACLE,4500
QADIR,1965-08-31,1991-04-21,M,ASSEMBLY,C,3000
REMITHA,1970-04-19,1993-04-20,F,C,ASSEMBLY,3600
VIJAYA,1965-12-14,1992-05-02,F,FOXPRO,C,3500

In [108]:
-- 30. Display the Cost of Package Developed By each Programmer. 
SELECT SUM(DCOST) AS DCOST, PNAME
FROM SOFTWARE
GROUP BY  PNAME

DCOST,PNAME
22000,ANAND
3500,JULIANA
20000,KAMALA
106200,MARY
1200,PATTRICK
6100,QADIR
39500,RAMESH
11000,REMITHA
75000,REVATHI
700,VIJAYA

In [10]:
-- 31. Display the sales values of the Packages Developed by the each Programmer. 
SELECT PNAME, SUM(SOLD) AS SOLD
FROM SOFTWARE
GROUP BY PNAME
ORDER BY SOLD DESC

PNAME,SOLD
MARY,111
PATTRICK,84
RAMESH,77
REMITHA,58
ANAND,52
QADIR,32
KAMALA,7
VIJAYA,6
REVATHI,2
JULIANA,0

In [13]:
-- 33. Display the sales cost of the packages Developed by each Programmer Language wise. 
SELECT PNAME, DEVELOPIN, SUM(SCOST) AS SALES_COST
FROM SOFTWARE
GROUP BY PNAME, DEVELOPIN
ORDER BY DEVELOPIN, SALES_COST

PNAME,DEVELOPIN,SALES_COST
QADIR,ASSEMBLY,750
REMITHA,ASSEMBLY,2500
ANAND,BASIC,399.95
REMITHA,C,725
VIJAYA,C,900
QADIR,C,1900
MARY,C,4500
JULIANA,COBOL,3000
MARY,CPP,300
PATTRICK,CPP,300
KAMALA,DBASE,9000
RAMESH,DBASE,13000
MARY,ORACLE,18000
RAMESH,PASCAL,599.95
REVATHI,PASCAL,1100
ANAND,PASCAL,7500

In [15]:
-- 34. Display each language name with AVG Development Cost, AVG Selling Cost and AVG Price per Copy. 
SELECT DEVELOPIN,AVG(DCOST) AS AVG_DCOST, AVG(SCOST) AS AVG_SCOST, AVG(SOLD) AS AVG_SOLD
FROM SOFTWARE GROUP BY DEVELOPIN

DEVELOPIN,AVG_DCOST,AVG_SCOST,AVG_SOLD
ASSEMBLY,4500,1625,9
BASIC,6000,399.95,43
C,7200,2006.25,25
COBOL,3500,3000,0
CPP,1200,300,84
DBASE,27500,11000,5
ORACLE,85000,18000,4
PASCAL,31833.333333333332,3066.65,28

In [28]:
-- 35. Display each programmer’s name, costliest and cheapest Packages Developed by him or her. 
--

PNAME,SCOST
MARY,300
PATTRICK,300
ANAND,399.95
RAMESH,599.95
REMITHA,725
QADIR,750
VIJAYA,900
REVATHI,1100
QADIR,1900
REMITHA,2500
JULIANA,3000
MARY,4500
ANAND,7500
KAMALA,9000
RAMESH,13000
MARY,18000

In [29]:
-- 36. Display each institute name with number of Courses, Average Cost per Course. 
SELECT INSTITUTE, COUNT(COURSE) AS NO_OF_COURSES, AVG([COURSE FEE]) AVG_COST_PER_COURSE
FROM STUDIES
GROUP BY INSTITUTE

INSTITUTE,NO_OF_COURSES,AVG_COST_PER_COURSE
APPLE,1,14000
BDPS,3,25333
BRILLIANT,1,11000
COIT,1,7200
PRAGATHI,3,5466
SABHARI,4,4625

In [30]:
-- 37. Display each institute Name with Number of Students. 
SELECT INSTITUTE, COUNT(*) AS NO_OF_STUDENTS
FROM STUDIES
GROUP BY INSTITUTE

INSTITUTE,NO_OF_STUDENTS
APPLE,1
BDPS,3
BRILLIANT,1
COIT,1
PRAGATHI,3
SABHARI,4

In [33]:
-- 38. Display Names of Male and Female Programmers. Gender also. 
SELECT PNAME,GENDER FROM PROGRAMMER

PNAME,GENDER
ANAND,M
ALTAF,M
JULIANA,F
KAMALA,F
MARY,F
NELSON,M
PATTRICK,M
QADIR,M
RAMESH,M
REBECCA,F
REMITHA,F
REVATHI,F
VIJAYA,F

In [41]:
-- 39. Display the Name of Programmers and Their Packages. 
SELECT P.PNAME, STRING_AGG (S.TITLE, ', ') as Packages
FROM PROGRAMMER P LEFT JOIN SOFTWARE S ON P.PNAME=S.PNAME GROUP BY P.PNAME

PNAME,Packages
ALTAF,NULL
ANAND,"PARACHUTES, VIDEO TITLING"
JULIANA,INVENTORY
KAMALA,PAYROLL PKG.
MARY,"README, FINANCIAL ACCT., CODE GENERATOR"
NELSON,NULL
PATTRICK,README
QADIR,"BOMBS AWAY, VACCINES"
RAMESH,"HOTEL MGMT., DEAD LEE"
REBECCA,NULL
REMITHA,"PC UTILITIES, TSR HELP PKG."
REVATHI,HOSPITAL MGMT.
VIJAYA,TSR EDITOR

In [47]:
-- 40. Display the Number of Packages in Each Language Except C and C++. 
SELECT DEVELOPIN,COUNT(TITLE) AS "Number of Packages"
FROM (SELECT *
    FROM SOFTWARE
    WHERE DEVELOPIN NOT IN ('C','C++','CPP')) A
GROUP BY DEVELOPIN

DEVELOPIN,Number of Packages
ASSEMBLY,2
BASIC,1
COBOL,1
DBASE,2
ORACLE,1
PASCAL,3

In [ ]:
-- 41. Display the Number of Packages in Each Language for which Development Cost is
-- less than 1000.