In [3]:
--SELECT * FROM INFORMATION_SCHEMA.TABLES

TABLE_CATALOG,TABLE_SCHEMA,TABLE_NAME,TABLE_TYPE
AssignmentSQLQueries,dbo,STUDIES,BASE TABLE
AssignmentSQLQueries,dbo,SOFTWARE,BASE TABLE
AssignmentSQLQueries,dbo,PROGRAMMER,BASE TABLE

In [21]:
-- 1. Find out the selling cost AVG for packages developed in Pascal. 
SELECT AVG(SCOST) AS AVG_SCOST_PASCAL FROM SOFTWARE WHERE DEVELOPIN='PASCAL'

AVG_SCOST_PASCAL
3066.65

In [7]:
-- 2. Display Names, Ages of all Programmers. 
SELECT PNAME, DATEDIFF(YY,DOB,GETDATE())
FROM PROGRAMMER

PNAME,(No column name)
ANAND,57
ALTAF,59
JULIANA,63
KAMALA,55
MARY,53
NELSON,38
PATTRICK,58
QADIR,58
RAMESH,56
REBECCA,56
REMITHA,53
REVATHI,54
VIJAYA,58

In [8]:
-- 3. Display the Names of those who have done the DAP Course. 
SELECT PNAME
FROM STUDIES
WHERE COURSE='DAP'

PNAME
NELSON
REVATHI

In [9]:
-- 4. Display the Names and Date of Births of all Programmers Born in January. 
SELECT PNAME, DOB
FROM PROGRAMMER
WHERE MONTH(DOB)=1

PNAME,DOB
JULIANA,1960-01-31
REBECCA,1967-01-01

In [12]:
-- 5. What is the Highest Number of copies sold by a Package? 
SELECT MAX(sold) MAX_PACKAGE_SOLD
FROM SOFTWARE

MAX_PACKAGE_SOLD
84

In [13]:
-- 6. Display lowest course Fee. 
SELECT MIN([COURSE FEE]) AS LOWEST_COURSE_FEE
FROM STUDIES

LOWEST_COURSE_FEE
4500

In [16]:
-- 7. How many programmers done the PGDCA Course? 
SELECT COUNT(*) AS NO_OF_PGDA_STUDENTS
FROM STUDIES
WHERE COURSE='PGDCA'

NO_OF_PGDA_STUDENTS
3

In [17]:
-- 8. How much revenue has been earned thru sales of Packages Developed in C.
SELECT SUM(SCOST) AS TOTAL_SCOST_C
FROM SOFTWARE
WHERE DEVELOPIN='C'

TOTAL_SCOST_C
8025

In [18]:
-- 9. Display the Details of the Software Developed by Ramesh. 
SELECT *
FROM SOFTWARE
WHERE PNAME='Ramesh'

PNAME,TITLE,DEVELOPIN,SCOST,DCOST,SOLD
RAMESH,HOTEL MGMT.,DBASE,13000,35000,4
RAMESH,DEAD LEE,PASCAL,599.95,4500,73

In [19]:
-- 10. How many Programmers Studied at Sabhari? 
SELECT COUNT(*) AS NO_OF_PROGRAMMERS_STUDIED_AT_SABHARI
FROM STUDIES
WHERE INSTITUTE='SABHARI'

NO_OF_PROGRAMMERS_STUDIED_AT_SABHARI
4

In [28]:
-- 11. Display details of Packages whose sales crossed the 2000 Mark. 
SELECT PNAME, SA.TITLE, SOLD
FROM SOFTWARE SS INNER JOIN (SELECT TITLE
    FROM SOFTWARE
    GROUP BY TITLE
    HAVING SUM(SOLD)>2000) SA ON SS.TITLE=SA.TITLE

In [33]:
-- 12. Display the Details of Packages for which Development Cost have been recovered. 
SELECT *
FROM SOFTWARE
WHERE (SCOST*SOLD) >DCOST

PNAME,TITLE,DEVELOPIN,SCOST,DCOST,SOLD
MARY,README,CPP,300,1200,84
ANAND,PARACHUTES,BASIC,399.95,6000,43
ANAND,VIDEO TITLING,PASCAL,7500,16000,9
KAMALA,PAYROLL PKG.,DBASE,9000,20000,7
MARY,CODE GENERATOR,C,4500,20000,23
PATTRICK,README,CPP,300,1200,84
QADIR,BOMBS AWAY,ASSEMBLY,750,3000,11
QADIR,VACCINES,C,1900,3100,21
RAMESH,HOTEL MGMT.,DBASE,13000,35000,4
RAMESH,DEAD LEE,PASCAL,599.95,4500,73
REMITHA,PC UTILITIES,C,725,5000,51
REMITHA,TSR HELP PKG.,ASSEMBLY,2500,6000,7
VIJAYA,TSR EDITOR,C,900,700,6

In [48]:
-- 13. What is the cost of the costliest software development in Basic? 
SELECT MAX(DCOST) AS DCOST
FROM SOFTWARE
WHERE DEVELOPIN='BASIC'

DCOST
6000

In [50]:
-- 14. How many Packages Developed in DBASE? 
SELECT COUNT(*) AS "Packages Developed in DBASE"
FROM SOFTWARE
WHERE DEVELOPIN='DBASE'

Packages Developed in DBASE
2

In [51]:
-- 15. How many programmers studied in Pragathi? 
SELECT COUNT(*) "programmers studied in Pragathi"
FROM STUDIES
WHERE INSTITUTE='PRAGATHI'

programmers studied in Pragathi
3

In [52]:
-- 16. How many Programmers Paid 5000 to 10000 for their course? 
SELECT COUNT(*) AS "Programmers Paid 5000 to 10000"
FROM STUDIES
WHERE [COURSE FEE] BETWEEN 5000 AND 10000

Programmers Paid 5000 to 10000
6

In [54]:
-- 17. What is AVG Course Fee 
SELECT AVG([COURSE FEE]) AS AVG_COURSE_FEE
FROM STUDIES

AVG_COURSE_FEE
11007

In [55]:
-- 18. Display the details of the Programmers Knowing C.
SELECT *
FROM PROGRAMMER
WHERE 'C' IN (PROF1,PROF2)

PNAME,DOB,DOJ,GENDER,PROF1,PROF2,SALARY
KAMALA,1968-10-30,1992-01-02,F,C,DBASE,2900
QADIR,1965-08-31,1991-04-21,M,ASSEMBLY,C,3000
REMITHA,1970-04-19,1993-04-20,F,C,ASSEMBLY,3600
VIJAYA,1965-12-14,1992-05-02,F,FOXPRO,C,3500

In [56]:
-- 19. How many Programmers know either COBOL or PASCAL. 
SELECT COUNT(*) AS "Programmers know either COBOL or PASCAL" FROM PROGRAMMER WHERE PROF1 IN ('PASCAL','COBOL')

Programmers know either COBOL or PASCAL
6

In [59]:
-- 20. How many Programmers Dont know PASCAL and C 
SELECT COUNT(*) AS "Programmers Dont know PASCAL and C"
FROM PROGRAMMER
WHERE 'PASCAL' NOT IN (PROF1,PROF2) AND 'C' NOT IN (PROF1,PROF2)

Programmers Dont know PASCAL and C
5

In [64]:
-- 21. How old is the Oldest Male Programmer. 
SELECT TOP 1
    DATEDIFF(YY,DOB,GETDATE()) AS "AGE(YEARS)"
FROM PROGRAMMER
WHERE GENDER='M'
ORDER BY DOB

AGE(YEARS)
59

In [67]:
-- 22. What is the AVG age of Female Programmers? 
SELECT AVG(DATEDIFF(YY,DOB,GETDATE())) AS AVG_AGE
FROM PROGRAMMER
WHERE GENDER='F'

AVG_AGE
56

In [69]:
-- 23. Calculate the Experience in Years for each Programmer and Display with their 
-- names in Descending order. 

SELECT PNAME, DATEDIFF(YY,DOJ,GETDATE()) AS "Experience in Years"
FROM PROGRAMMER
ORDER BY PNAME DESC

PNAME,Experience in Years
VIJAYA,31
REVATHI,31
REMITHA,30
REBECCA,33
RAMESH,32
QADIR,32
PATTRICK,33
NELSON,34
MARY,32
KAMALA,31
JULIANA,33
ANAND,31
ALTAF,33

In [70]:
-- 24. Who are the Programmers who celebrate their Birthdays During the Current
-- Month?
SELECT *
FROM PROGRAMMER
WHERE MONTH(DOB) = MONTH(GETDATE())

PNAME,DOB,DOJ,GENDER,PROF1,PROF2,SALARY
ANAND,1966-04-12,1992-04-21,M,PASCAL,BASIC,3200
REMITHA,1970-04-19,1993-04-20,F,C,ASSEMBLY,3600

In [71]:
-- 25. How many Female Programmers are there? 
SELECT COUNT(*) NO_OF_FEMALE_PROGRAMMERS
FROM PROGRAMMER
WHERE GENDER='F'

NO_OF_FEMALE_PROGRAMMERS
7

In [90]:
-- 26. What are the Languages studied by Male Programmers. 
SELECT DISTINCT(PROF1)
FROM PROGRAMMER P1
    JOIN (SELECT PNAME, PROF2
    FROM PROGRAMMER) P2
    ON P1.PNAME=P2.PNAME

PROF1
ASSEMBLY
BASIC
C
CLIPPER
COBOL
CPP
FOXPRO
PASCAL

In [89]:
SELECT PROF1 FROM PROGRAMMER WHERE GENDER='M'
UNION 
SELECT PROF2 FROM PROGRAMMER WHERE GENDER='M'

PROF1
ASSEMBLY
BASIC
C
CLIPPER
COBOL
DBASE
PASCAL

In [93]:
-- 27. What is the AVG Salary? 
SELECT AVG(SALARY) AS AVG_SALARY
FROM PROGRAMMER

AVG_SALARY
3169

In [95]:
-- 28. How many people draw salary 2000 to 4000? 
SELECT COUNT(*) AS NO_OF_PEOPLE
FROM PROGRAMMER
WHERE SALARY BETWEEN 2000 AND 4000

NO_OF_PEOPLE
12

In [97]:
-- 29. Display the details of those who dont know Clipper, COBOL or PASCAL. 
SELECT *
FROM PROGRAMMER
WHERE PROF1 NOT IN ('CLIPPER','COBOL','PASCAL') AND PROF2 NOT IN ('CLIPPER','COBOL','PASCAL')

PNAME,DOB,DOJ,GENDER,PROF1,PROF2,SALARY
KAMALA,1968-10-30,1992-01-02,F,C,DBASE,2900
MARY,1970-06-24,1991-02-01,F,CPP,ORACLE,4500
QADIR,1965-08-31,1991-04-21,M,ASSEMBLY,C,3000
REMITHA,1970-04-19,1993-04-20,F,C,ASSEMBLY,3600
VIJAYA,1965-12-14,1992-05-02,F,FOXPRO,C,3500

In [108]:
-- 30. Display the Cost of Package Developed By each Programmer. 
SELECT SUM(DCOST) AS DCOST, PNAME
FROM SOFTWARE
GROUP BY  PNAME

DCOST,PNAME
22000,ANAND
3500,JULIANA
20000,KAMALA
106200,MARY
1200,PATTRICK
6100,QADIR
39500,RAMESH
11000,REMITHA
75000,REVATHI
700,VIJAYA

In [10]:
-- 31. Display the sales values of the Packages Developed by the each Programmer. 
SELECT PNAME, SUM(SOLD) AS SOLD
FROM SOFTWARE
GROUP BY PNAME
ORDER BY SOLD DESC

PNAME,SOLD
MARY,111
PATTRICK,84
RAMESH,77
REMITHA,58
ANAND,52
QADIR,32
KAMALA,7
VIJAYA,6
REVATHI,2
JULIANA,0

In [13]:
-- 33. Display the sales cost of the packages Developed by each Programmer Language wise. 
SELECT PNAME, DEVELOPIN, SUM(SCOST) AS SALES_COST
FROM SOFTWARE
GROUP BY PNAME, DEVELOPIN
ORDER BY DEVELOPIN, SALES_COST

PNAME,DEVELOPIN,SALES_COST
QADIR,ASSEMBLY,750
REMITHA,ASSEMBLY,2500
ANAND,BASIC,399.95
REMITHA,C,725
VIJAYA,C,900
QADIR,C,1900
MARY,C,4500
JULIANA,COBOL,3000
MARY,CPP,300
PATTRICK,CPP,300
KAMALA,DBASE,9000
RAMESH,DBASE,13000
MARY,ORACLE,18000
RAMESH,PASCAL,599.95
REVATHI,PASCAL,1100
ANAND,PASCAL,7500

In [15]:
-- 34. Display each language name with AVG Development Cost, AVG Selling Cost and AVG Price per Copy. 
SELECT DEVELOPIN,AVG(DCOST) AS AVG_DCOST, AVG(SCOST) AS AVG_SCOST, AVG(SOLD) AS AVG_SOLD
FROM SOFTWARE GROUP BY DEVELOPIN

DEVELOPIN,AVG_DCOST,AVG_SCOST,AVG_SOLD
ASSEMBLY,4500,1625,9
BASIC,6000,399.95,43
C,7200,2006.25,25
COBOL,3500,3000,0
CPP,1200,300,84
DBASE,27500,11000,5
ORACLE,85000,18000,4
PASCAL,31833.333333333332,3066.65,28

In [9]:
-- 35. Display each programmers name, costliest and cheapest Packages Developed by him or her. 
WITH CTE AS (
    SELECT PNAME, MAX(SCOST) AS MAX_SCOST, MIN(SCOST) AS MIN_SCOST FROM SOFTWARE GROUP by PNAME
)

SELECT c_max.PNAME, costliest, cheapest FROM
(
    SELECT S.PNAME, TITLE AS costliest from SOFTWARE s join CTE c on s.PNAME =c.PNAME and s.SCOST=c.MAX_SCOST
) c_max
JOIN
(
    SELECT S.PNAME, TITLE AS cheapest from SOFTWARE s join CTE c on s.PNAME =c.PNAME and s.SCOST=c.MIN_SCOST
) c_min
on c_max.PNAME=c_min.PNAME

PNAME,costliest,cheapest
MARY,FINANCIAL ACCT.,README
ANAND,VIDEO TITLING,PARACHUTES
JULIANA,INVENTORY,INVENTORY
KAMALA,PAYROLL PKG.,PAYROLL PKG.
PATTRICK,README,README
QADIR,VACCINES,BOMBS AWAY
RAMESH,HOTEL MGMT.,DEAD LEE
REMITHA,TSR HELP PKG.,PC UTILITIES
REVATHI,HOSPITAL MGMT.,HOSPITAL MGMT.
VIJAYA,TSR EDITOR,TSR EDITOR

In [29]:
-- 36. Display each institute name with number of Courses, Average Cost per Course. 
SELECT INSTITUTE, COUNT(COURSE) AS NO_OF_COURSES, AVG([COURSE FEE]) AVG_COST_PER_COURSE
FROM STUDIES
GROUP BY INSTITUTE

INSTITUTE,NO_OF_COURSES,AVG_COST_PER_COURSE
APPLE,1,14000
BDPS,3,25333
BRILLIANT,1,11000
COIT,1,7200
PRAGATHI,3,5466
SABHARI,4,4625

In [30]:
-- 37. Display each institute Name with Number of Students. 
SELECT INSTITUTE, COUNT(*) AS NO_OF_STUDENTS
FROM STUDIES
GROUP BY INSTITUTE

INSTITUTE,NO_OF_STUDENTS
APPLE,1
BDPS,3
BRILLIANT,1
COIT,1
PRAGATHI,3
SABHARI,4

In [33]:
-- 38. Display Names of Male and Female Programmers. Gender also. 
SELECT PNAME,GENDER FROM PROGRAMMER

PNAME,GENDER
ANAND,M
ALTAF,M
JULIANA,F
KAMALA,F
MARY,F
NELSON,M
PATTRICK,M
QADIR,M
RAMESH,M
REBECCA,F
REMITHA,F
REVATHI,F
VIJAYA,F

In [41]:
-- 39. Display the Name of Programmers and Their Packages. 
SELECT P.PNAME, STRING_AGG (S.TITLE, ', ') as Packages
FROM PROGRAMMER P LEFT JOIN SOFTWARE S ON P.PNAME=S.PNAME GROUP BY P.PNAME

PNAME,Packages
ALTAF,NULL
ANAND,"PARACHUTES, VIDEO TITLING"
JULIANA,INVENTORY
KAMALA,PAYROLL PKG.
MARY,"README, FINANCIAL ACCT., CODE GENERATOR"
NELSON,NULL
PATTRICK,README
QADIR,"BOMBS AWAY, VACCINES"
RAMESH,"HOTEL MGMT., DEAD LEE"
REBECCA,NULL
REMITHA,"PC UTILITIES, TSR HELP PKG."
REVATHI,HOSPITAL MGMT.
VIJAYA,TSR EDITOR

In [47]:
-- 40. Display the Number of Packages in Each Language Except C and C++. 
SELECT DEVELOPIN,COUNT(TITLE) AS "Number of Packages"
FROM (SELECT *
    FROM SOFTWARE
    WHERE DEVELOPIN NOT IN ('C','C++','CPP')) A
GROUP BY DEVELOPIN

DEVELOPIN,Number of Packages
ASSEMBLY,2
BASIC,1
COBOL,1
DBASE,2
ORACLE,1
PASCAL,3

In [49]:
-- 41. Display the Number of Packages in Each Language for which Development Cost is
-- less than 1000.
SELECT DEVELOPIN,COUNT(TITLE)
FROM (SELECT *
    FROM SOFTWARE
    WHERE DCOST<1000) A
GROUP BY DEVELOPIN

DEVELOPIN,(No column name)
C,1

In [53]:
-- 42. Display AVG Difference between SCOST, DCOST for Each Package. 
SELECT TITLE,AVG(ABS(SCOST-DCOST)) AS "AVG Difference between SCOST, DCOST" FROM SOFTWARE GROUP BY TITLE

TITLE,"AVG Difference between SCOST, DCOST"
BOMBS AWAY,2250
CODE GENERATOR,15500
DEAD LEE,3900.05
FINANCIAL ACCT.,67000
HOSPITAL MGMT.,73900
HOTEL MGMT.,22000
INVENTORY,500
PARACHUTES,5600.05
PAYROLL PKG.,11000
PC UTILITIES,4275
README,900
TSR EDITOR,200
TSR HELP PKG.,3500
VACCINES,1200
VIDEO TITLING,8500

In [62]:
-- 43. Display the total SCOST, DCOST and amount to Be Recovered for each 
-- Programmer for Those Whose Cost has not yet been Recovered.
SELECT PNAME, SUM(SCOST) AS SCOST, SUM(DCOST) AS DCOST, ABS(SUM(SCOST)-SUM(DCOST)) AS AMOUNT_TO_BE_RECOVERED
FROM SOFTWARE
GROUP BY PNAME
HAVING (SUM(SCOST)-SUM(DCOST))<0

PNAME,SCOST,DCOST,AMOUNT_TO_BE_RECOVERED
ANAND,7899.95,22000,14100.05
JULIANA,3000,3500,500
KAMALA,9000,20000,11000
MARY,22800,106200,83400
PATTRICK,300,1200,900
QADIR,2650,6100,3450
RAMESH,13599.95,39500,25900.05
REMITHA,3225,11000,7775
REVATHI,1100,75000,73900

In [64]:
-- 44. Display Highest, Lowest and Average Salaries for those earning more than 2000. 
SELECT MAX(SALARY) AS MAX_SAL, MIN(SALARY) AS MIN_SAL, AVG(SALARY) AS AVG_SAL
FROM PROGRAMMER
WHERE SALARY>2000

MAX_SAL,MIN_SAL,AVG_SAL
4500,2500,3169

In [72]:
-- 45. Who is the Highest Paid C Programmers?
SELECT TOP 1 PNAME
FROM PROGRAMMER
WHERE 'C' IN (PROF1,PROF2)
ORDER BY SALARY  DESC

PNAME
REMITHA

In [77]:
-- 46. Who is the Highest Paid Female COBOL Programmer? 
SELECT TOP 1 
    PNAME
FROM PROGRAMMER
WHERE 'COBOL' IN (PROF1,PROF2) AND GENDER='F'
ORDER BY SALARY DESC

PNAME
JULIANA

In [108]:
-- 47. Display the names of the highest paid programmers for each Language. 
SELECT PROF1, PNAME, SALARY
FROM (SELECT PROF1, PNAME, SALARY, DENSE_RANK() OVER(PARTITION BY PROF1 ORDER BY SALARY DESC) AS RANK
    FROM (SELECT PNAME, PROF1, SALARY
            FROM PROGRAMMER
            GROUP BY PROF1,PNAME,SALARY
        UNION ALL
            SELECT PNAME, PROF2, SALARY
            FROM PROGRAMMER
            GROUP BY PROF2,PNAME,SALARY) _
    GROUP BY PROF1,PNAME,SALARY) B
WHERE RANK=1

PROF1,PNAME,SALARY
ASSEMBLY,REMITHA,3600
BASIC,REVATHI,3700
C,REMITHA,3600
CLIPPER,ALTAF,2800
CLIPPER,PATTRICK,2800
COBOL,JULIANA,3000
CPP,MARY,4500
DBASE,RAMESH,3200
FOXPRO,VIJAYA,3500
ORACLE,MARY,4500
PASCAL,REVATHI,3700

In [114]:
-- 48. Who is the least experienced Programmer. 
SELECT PNAME FROM PROGRAMMER WHERE DOJ=(SELECT MAX(DOJ) FROM PROGRAMMER)

PNAME
REMITHA

In [17]:
-- 49. Who is the most experienced male programmer knowing PASCAL.

SELECT PNAME
FROM PROGRAMMER
WHERE 'PASCAL' IN (PROF1,PROF2) AND GENDER='M' AND DOJ=(SELECT MIN(DOJ)
    FROM PROGRAMMER
    WHERE 'PASCAL' IN (PROF1,PROF2) AND GENDER='M')

PNAME
PATTRICK

In [21]:
-- 50. Which Language is known by only one Programmer? 
SELECT PROF1 FROM (SELECT PROF1 FROM PROGRAMMER
UNION ALL
SELECT PROF2 FROM PROGRAMMER) S
GROUP BY PROF1
HAVING COUNT(*)=1

PROF1
CPP
FOXPRO
ORACLE

In [25]:
-- 51. Who is the Above Programmer Referred in 50? 
with ct1 as
(
SELECT PROF1 FROM (SELECT PROF1 FROM PROGRAMMER
UNION ALL
SELECT PROF2 FROM PROGRAMMER) S
GROUP BY PROF1
HAVING COUNT(*)=1
)

SELECT PNAME FROM PROGRAMMER WHERE PROF1 IN (select * from ct1)
OR PROF2 IN (select * from ct1)

PNAME
MARY
VIJAYA

In [29]:
-- 52. Who is the Youngest Programmer knowing DBASE? 
SELECT PNAME FROM PROGRAMMER WHERE 'DBASE' IN (PROF1,PROF2) AND DOB=(SELECT MAX(DOB) FROM PROGRAMMER WHERE 'DBASE' IN (PROF1,PROF2))

PNAME
NELSON

In [32]:
-- 53. Which Female Programmer earning more than 3000 does not know C, C++, ORACLE or DBASE? 
SELECT PNAME
FROM PROGRAMMER
WHERE GENDER='F' AND SALARY>3000 AND PROF1 NOT IN ('C','C++','ORACLE','DBASE') AND PROF2 NOT IN ('C','C++','ORACLE','DBASE')

PNAME
REVATHI

In [41]:
-- should not use top 1 here, please suggest different query
-- 54. Which Institute has most number of Students? 
SELECT TOP 1 INSTITUTE FROM STUDIES GROUP BY INSTITUTE ORDER BY COUNT(*)

INSTITUTE
APPLE

In [1]:
-- 55. What is the Costliest course? 
SELECT COURSE
FROM STUDIES
WHERE [COURSE FEE] = (SELECT MAX([COURSE FEE]) FROM STUDIES);

COURSE
DCA

In [13]:
-- 56. Which course has been done by the most of the Students? \
-- WITH CT2 AS 
-- (
-- SELECT MAX(CNT) AS CNT FROM (SELECT COURSE, COUNT(*) AS CNT
-- FROM STUDIES
-- GROUP BY COURSE) A
-- )

-- SELECT COURSE FROM STUDIES GROUP BY COURSE HAVING COUNT(*)=(SELECT * FROM CT2)

 
SELECT COURSE FROM ( SELECT COURSE, RANK() OVER(ORDER BY COUNT(*) DESC) RANK FROM STUDIES GROUP BY COURSE) A WHERE RANK=1

COURSE
DCA
PGDCA

In [28]:
-- 57. Which Institute conducts costliest course.
SELECT INSTITUTE
FROM STUDIES
WHERE [COURSE FEE]=(SELECT MAX([COURSE FEE])
FROM STUDIES)

INSTITUTE
BDPS

In [29]:
-- 58. Display the name of the Institute and Course, which has below AVG course fee. 
SELECT INSTITUTE, COURSE
FROM STUDIES
WHERE [COURSE FEE] < (SELECT AVG([COURSE FEE])
FROM STUDIES)

INSTITUTE,COURSE
SABHARI,PGDCA
COIT,DCA
PRAGATHI,DCA
SABHARI,PGDCA
PRAGATHI,DAP
PRAGATHI,DCAP
SABHARI,PGDCA
BRILLIANT,DCAP
BDPS,DCS
SABHARI,DAP

In [38]:
-- 59. Display the names of the courses whose fees are within 1000 (+ or -) of the 
-- Average Fee.

WITH
    CTE
    AS
    (
        SELECT AVG([COURSE FEE]) AS AVG_COURSE_FEE
        FROM STUDIES
    )

SELECT COURSE
FROM STUDIES
WHERE [COURSE FEE] BETWEEN (SELECT AVG_COURSE_FEE+1000
FROM CTE) AND (SELECT AVG_COURSE_FEE-1000
FROM CTE)

In [32]:
-- 60. Which package has the Highest Development cost? 
SELECT TITLE
FROM SOFTWARE
WHERE DCOST = (SELECT MAX(DCOST)
FROM SOFTWARE)

TITLE
FINANCIAL ACCT.

In [34]:
-- 61. Which course has below AVG number of Students? 
WITH
    CTE
    AS
    (
        SELECT COURSE, COUNT(*) AS No_OF_STUDENTS
        FROM STUDIES
        GROUP BY COURSE
    )
SELECT COURSE
FROM CTE
WHERE No_OF_STUDENTS< (SELECT AVG(No_OF_STUDENTS)
FROM CTE)

In [36]:
-- 62. Which Package has the lowest selling cost? 
SELECT TITLE
FROM SOFTWARE
WHERE SCOST = (SELECT MIN(SCOST)
FROM SOFTWARE)
GROUP BY TITLE

TITLE
README

In [43]:
-- 63. Who Developed the Package that has sold the least number of copies? 
SELECT PNAME FROM SOFTWARE WHERE SOLD=(SELECT MIN(SOLD) FROM SOFTWARE)

PNAME
JULIANA

In [45]:
-- 64. Which language has used to develop the package, which has the highest 
-- sales amount? 
SELECT DEVELOPIN
FROM SOFTWARE
WHERE SOLD=(SELECT MAX(SOLD)
FROM SOFTWARE)
GROUP BY DEVELOPIN

DEVELOPIN
CPP

In [48]:
-- 65. How many copies of package that has the least difference between 
-- development and selling cost where sold. 


SELECT SOLD
FROM SOFTWARE
WHERE ABS(DCOST-SCOST)=(SELECT MIN(ABS(DCOST-SCOST)) AS DIFF_BETN_DCOST_SCOST
FROM SOFTWARE)

SOLD
6

In [56]:
-- 66. Which is the costliest package developed in PASCAL. 
SELECT TITLE FROM (SELECT DEVELOPIN,TITLE,RANK() OVER(ORDER BY SCOST DESC) R
FROM SOFTWARE
WHERE DEVELOPIN = 'PASCAL') A 
WHERE R=1

TITLE
VIDEO TITLING

In [58]:
-- 67. Which language was used to develop the most number of Packages. 
SELECT DEVELOPIN
FROM (SELECT DEVELOPIN, RANK()OVER(ORDER BY COUNT(*) DESC) R
    FROM SOFTWARE
    GROUP BY DEVELOPIN) N
WHERE R=1

DEVELOPIN
C

In [63]:
-- 68. Which programmer has developed the highest number of Packages? 
WITH CTE AS (
SELECT PNAME, DENSE_RANK() OVER(ORDER BY COUNT(*) DESC) AS RANK FROM SOFTWARE GROUP BY PNAME
)

SELECT PNAME FROM CTE WHERE RANK=1

PNAME
MARY

In [64]:
-- 69. Who is the Author of the Costliest Package? 
SELECT PNAME
FROM SOFTWARE
WHERE SCOST=(SELECT MAX(SCOST)
FROM SOFTWARE)

PNAME
MARY

In [65]:
-- 70. Display the names of the packages, which have sold less than the AVG number of copies.
SELECT TITLE
FROM SOFTWARE
WHERE SOLD < (SELECT AVG(SOLD)
FROM SOFTWARE)

TITLE
VIDEO TITLING
INVENTORY
PAYROLL PKG.
FINANCIAL ACCT.
CODE GENERATOR
BOMBS AWAY
VACCINES
HOTEL MGMT.
TSR HELP PKG.
HOSPITAL MGMT.
TSR EDITOR

In [67]:
-- 71. Who are the authors of the Packages, which have recovered more than double the Development cost? 
SELECT DISTINCT PNAME FROM SOFTWARE WHERE SCOST*SOLD>2*DCOST

PNAME
ANAND
KAMALA
MARY
PATTRICK
QADIR
RAMESH
REMITHA
VIJAYA

In [71]:
-- 72. Display the programmer Name and the cheapest packages developed by them in each language. 
SELECT PNAME,TITLE,DEVELOPIN,DCOST FROM SOFTWARE WHERE DCOST IN (SELECT MIN(DCOST) FROM SOFTWARE GROUP BY DEVELOPIN)

PNAME,TITLE,DEVELOPIN,DCOST
MARY,README,CPP,1200
ANAND,PARACHUTES,BASIC,6000
JULIANA,INVENTORY,COBOL,3500
KAMALA,PAYROLL PKG.,DBASE,20000
MARY,FINANCIAL ACCT.,ORACLE,85000
MARY,CODE GENERATOR,C,20000
PATTRICK,README,CPP,1200
QADIR,BOMBS AWAY,ASSEMBLY,3000
RAMESH,DEAD LEE,PASCAL,4500
REMITHA,TSR HELP PKG.,ASSEMBLY,6000
VIJAYA,TSR EDITOR,C,700

In [78]:
-- 73. Display the language used by each programmer to develop the Highest Selling and Lowest-selling package. 
SELECT PNAME,DEVELOPIN FROM SOFTWARE WHERE SOLD IN (SELECT MAX(SOLD) FROM SOFTWARE GROUP BY PNAME)
UNION
SELECT PNAME,DEVELOPIN FROM SOFTWARE WHERE SOLD IN (SELECT MIN(SOLD) FROM SOFTWARE GROUP BY PNAME)

PNAME,DEVELOPIN
ANAND,BASIC
ANAND,PASCAL
JULIANA,COBOL
KAMALA,DBASE
MARY,CPP
MARY,ORACLE
PATTRICK,CPP
QADIR,ASSEMBLY
QADIR,C
RAMESH,DBASE
RAMESH,PASCAL
REMITHA,ASSEMBLY
REMITHA,C
REVATHI,PASCAL
VIJAYA,C

In [82]:
-- 74. Who is the youngest male Programmer born in 1965? 
SELECT PNAME
FROM PROGRAMMER
WHERE DOB=(SELECT MAX(DOB)
FROM PROGRAMMER
WHERE YEAR(DOB) = 1965 AND GENDER='M')

PNAME
PATTRICK

In [87]:
-- 75. Who is the oldest Female Programmer who joined in 1992?
SELECT PNAME
FROM (SELECT *, RANK() OVER(ORDER BY DOB) RANK
    FROM PROGRAMMER
    WHERE GENDER='F' AND YEAR(DOJ)=1992) A
WHERE RANK=1

PNAME
VIJAYA

In [91]:
-- 76. In which year was the most number of Programmers born.
SELECT YR FROM (SELECT YEAR(DOB) YR, DENSE_RANK() OVER(ORDER BY COUNT(*) DESC) RANK
FROM PROGRAMMER
GROUP BY YEAR(DOB)) A WHERE RANK=1

YR
1965

In [95]:
-- 77. In which month did most number of programmers join? 
SELECT DATENAME(MM,M)  AS "month did most number of programmers join" FROM (SELECT MONTH(DOJ) M, DENSE_RANK() OVER(ORDER BY COUNT(*) DESC) RANK
FROM PROGRAMMER
GROUP BY MONTH(DOJ)) A WHERE RANK=1

month did most number of programmers join
January

In [101]:
-- 78. In which language are most of the programmers proficient. 
-- SELECT PROF1, DENSE_RANK() OVER(ORDER BY COUNT(*) DESC) FROM PROGRAMMER GROUP BY PROF1
SELECT PROF1 FROM (SELECT PROF1, DENSE_RANK() OVER(ORDER BY COUNT(*) DESC) RANK FROM (SELECT PROF1 FROM PROGRAMMER
UNION ALL
SELECT PROF2 FROM PROGRAMMER) A
GROUP BY PROF1) B
WHERE RANK=1

PROF1
C
COBOL
DBASE
PASCAL

In [102]:
-- 79. Who are the male programmers earning below the AVG salary of Female Programmers? 
SELECT PNAME
FROM PROGRAMMER
WHERE GENDER='M' AND SALARY< (SELECT AVG(SALARY)
    FROM PROGRAMMER
    WHERE GENDER='F')

PNAME
ANAND
ALTAF
NELSON
PATTRICK
QADIR
RAMESH

In [111]:
-- 80. Who are the Female Programmers earning more than the Highest Paid? 
SELECT PNAME
FROM PROGRAMMER
WHERE GENDER='F' AND SALARY > (SELECT MAX(SALARY)
    FROM PROGRAMMER)

In [106]:
-- 81. Which language has been stated as the proficiency by most of the Programmers? (SAME AS 78)
SELECT PROF1 FROM (SELECT PROF1, DENSE_RANK() OVER(ORDER BY COUNT(*) DESC) RANK FROM (SELECT PROF1 FROM PROGRAMMER
UNION ALL
SELECT PROF2 FROM PROGRAMMER) A
GROUP BY PROF1) B
WHERE RANK=1

PROF1
C
COBOL
DBASE
PASCAL

In [127]:
-- 82. Display the details of those who are drawing the same salary. 
-- SELECT * FROM PROGRAMMER P JOIN (SELECT SALARY
-- FROM PROGRAMMER
-- GROUP BY SALARY HAVING COUNT(*)>1) A ON P.SALARY=A.SALARY

-- SELECT SALARY
-- FROM PROGRAMMER
-- GROUP BY SALARY HAVING COUNT(*)>1

SELECT * FROM PROGRAMMER WHERE SALARY IN (SELECT SALARY
FROM PROGRAMMER
GROUP BY SALARY HAVING COUNT(*)>1)

PNAME,DOB,DOJ,GENDER,PROF1,PROF2,SALARY
ANAND,1966-04-12,1992-04-21,M,PASCAL,BASIC,3200
ALTAF,1964-07-02,1990-11-13,M,CLIPPER,COBOL,2800
JULIANA,1960-01-31,1990-04-21,F,COBOL,DBASE,3000
NELSON,1985-09-11,1989-10-11,M,COBOL,DBASE,2500
PATTRICK,1965-11-10,1990-04-21,M,PASCAL,CLIPPER,2800
QADIR,1965-08-31,1991-04-21,M,ASSEMBLY,C,3000
RAMESH,1967-05-03,1991-02-28,M,PASCAL,DBASE,3200
REBECCA,1967-01-01,1990-12-01,F,BASIC,COBOL,2500

In [128]:
-- 83. Display the details of the Software Developed by the Male Programmers Earning More than 3000/-. 
SELECT *
FROM SOFTWARE S LEFT JOIN PROGRAMMER P ON S.PNAME=P.PNAME
WHERE GENDER='M' AND P.SALARY>3000

PNAME,TITLE,DEVELOPIN,SCOST,DCOST,SOLD,PNAME,DOB,DOJ,GENDER,PROF1,PROF2,SALARY
ANAND,PARACHUTES,BASIC,399.95,6000,43,ANAND,1966-04-12,1992-04-21,M,PASCAL,BASIC,3200
ANAND,VIDEO TITLING,PASCAL,7500,16000,9,ANAND,1966-04-12,1992-04-21,M,PASCAL,BASIC,3200
RAMESH,HOTEL MGMT.,DBASE,13000,35000,4,RAMESH,1967-05-03,1991-02-28,M,PASCAL,DBASE,3200
RAMESH,DEAD LEE,PASCAL,599.95,4500,73,RAMESH,1967-05-03,1991-02-28,M,PASCAL,DBASE,3200

In [129]:
-- 84. Display the details of the packages developed in Pascal by the Female Programmers. 
SELECT * FROM SOFTWARE S JOIN PROGRAMMER P ON S.PNAME=P.PNAME WHERE DEVELOPIN='PASCAL' AND GENDER='F'

PNAME,TITLE,DEVELOPIN,SCOST,DCOST,SOLD,PNAME,DOB,DOJ,GENDER,PROF1,PROF2,SALARY
REVATHI,HOSPITAL MGMT.,PASCAL,1100,75000,2,REVATHI,1969-12-02,1992-01-02,F,PASCAL,BASIC,3700

In [130]:
-- 85. Display the details of the Programmers who joined before 1990. 
SELECT * FROM PROGRAMMER WHERE YEAR(DOJ) < 1990

PNAME,DOB,DOJ,GENDER,PROF1,PROF2,SALARY
NELSON,1985-09-11,1989-10-11,M,COBOL,DBASE,2500

In [131]:
-- 86. Display the details of the Software Developed in C By female programmers of Pragathi. 
SELECT *
FROM SOFTWARE SS JOIN PROGRAMMER P ON SS.PNAME=P.PNAME JOIN STUDIES S ON P.PNAME=S.PNAME
WHERE INSTITUTE='Pragathi' AND GENDER='F' AND DEVELOPIN='C'

In [7]:
-- 87. Display the number of packages, No. of Copies Sold and sales value of each programmer institute wise.
SELECT S.INSTITUTE,SS.PNAME,
    COUNT(title) AS NO_OF_PACKAGES, 
    SUM(SOLD) AS NO_OF_COPIES_SOLD, 
    SUM(SCOST) AS SALES_VALUE
FROM SOFTWARE SS
JOIN STUDIES S ON SS.PNAME=S.PNAME
GROUP BY S.INSTITUTE,SS.PNAME

INSTITUTE,PNAME,NO_OF_PACKAGES,NO_OF_COPIES_SOLD,SALES_VALUE
APPLE,QADIR,2,32,2650
BDPS,JULIANA,1,0,3000
BDPS,REMITHA,2,58,3225
BDPS,VIJAYA,1,6,900
PRAGATHI,KAMALA,1,7,9000
SABHARI,ANAND,2,52,7899.95
SABHARI,MARY,3,111,22800
SABHARI,RAMESH,2,77,13599.95
SABHARI,REVATHI,1,2,1100

In [13]:
-- 88. Display the details of the software developed in DBASE by Male Programmers, who 
-- belong to the institute in which most number of Programmers studied. 
SELECT S.TITLE,S.DEVELOPIN,S.SCOST,S.DCOST,S.PNAME,S.SOLD
FROM SOFTWARE S LEFT JOIN PROGRAMMER P ON S.PNAME=P.PNAME LEFT JOIN STUDIES SS ON S.PNAME=SS.PNAME
WHERE S.DEVELOPIN='DBASE' AND P.GENDER='M' AND INSTITUTE IN (SELECT INSTITUTE
    FROM (SELECT INSTITUTE, RANK()OVER(ORDER BY COUNT(*) DESC) AS RANK
        FROM STUDIES
        GROUP BY INSTITUTE) A
    WHERE RANK=1)

TITLE,DEVELOPIN,SCOST,DCOST,PNAME,SOLD
HOTEL MGMT.,DBASE,13000,35000,RAMESH,4

In [19]:
-- 89. Display the details of the software Developed by the male programmers Born before 1965 and female programmers born after 1975. 
SELECT *
FROM SOFTWARE S LEFT JOIN PROGRAMMER P ON S.PNAME=P.PNAME
WHERE (GENDER='M' AND YEAR(DOB)<1965) OR (GENDER='F' AND YEAR(DOB)>1975)

PNAME,TITLE,DEVELOPIN,SCOST,DCOST,SOLD,PNAME,DOB,DOJ,GENDER,PROF1,PROF2,SALARY
JULIANA,INVENTORY,COBOL,3000,3500,0,JULIANA,1960-01-31,1990-04-21,F,COBOL,DBASE,3000

In [3]:
-- 90. Display the details of the software that has developed in the language which is neither 
-- the first nor the second proficiency of the programmers. 
SELECT S.TITLE,S.DEVELOPIN,S.PNAME,S.SCOST,S.DCOST,S.SOLD
FROM SOFTWARE S LEFT JOIN PROGRAMMER P ON S.PNAME=P.PNAME WHERE S.DEVELOPIN NOT IN(PROF1,PROF2)

TITLE,DEVELOPIN,PNAME,SCOST,DCOST,SOLD
CODE GENERATOR,C,MARY,4500,20000,23
README,CPP,PATTRICK,300,1200,84

In [9]:
-- 92. Display the names of the programmers who have not developed any packages.
SELECT P.PNAME FROM PROGRAMMER P LEFT JOIN SOFTWARE S ON P.PNAME=S.PNAME WHERE TITLE IS NULL

PNAME
ALTAF
NELSON
REBECCA

In [23]:
-- 93. What is the total cost of the Software developed by the programmers of Apple? 
SELECT SUM(DCOST) AS TOTAL_DCOST
FROM SOFTWARE S LEFT JOIN STUDIES SS ON S.PNAME=SS.PNAME
WHERE INSTITUTE='Apple'

(No column name)
6100

In [28]:
-- 94. Who are the programmers who joined on the same day? 
SELECT PNAME,DOJ
FROM PROGRAMMER
WHERE DOJ IN (
SELECT DOJ
FROM PROGRAMMER
GROUP BY DOJ
HAVING COUNT(*)>1
)
ORDER BY DOJ

PNAME,DOJ
JULIANA,1990-04-21
PATTRICK,1990-04-21
REVATHI,1992-01-02
KAMALA,1992-01-02

In [34]:
-- 95. Who are the programmers who have the same Prof2? 

SELECT PNAME,PROF2
FROM PROGRAMMER
WHERE PROF2 IN (
    SELECT PROF2
FROM PROGRAMMER
GROUP BY PROF2
HAVING COUNT(*)>1
)
ORDER BY PROF2

PNAME,PROF2
ANAND,BASIC
REVATHI,BASIC
VIJAYA,C
QADIR,C
ALTAF,COBOL
REBECCA,COBOL
JULIANA,DBASE
KAMALA,DBASE
NELSON,DBASE
RAMESH,DBASE

In [36]:
-- 96. Display the total sales value of the software, institute wise. 
SELECT INSTITUTE, SUM(SOLD*SCOST) AS TOTAL_SALES
FROM SOFTWARE S LEFT JOIN STUDIES SS ON S.PNAME=SS.PNAME
GROUP BY INSTITUTE

INSTITUTE,TOTAL_SALES
NULL,25200
APPLE,48150
BDPS,59875
PRAGATHI,63000
SABHARI,383394.19999999995

In [40]:
-- 97. In which institute does the person who developed the costliest package studied. 
SELECT S.PNAME, SS.INSTITUTE
FROM SOFTWARE S LEFT JOIN STUDIES SS ON S.PNAME=SS.PNAME
WHERE S.SCOST=(SELECT MAX(SCOST)
FROM SOFTWARE)

PNAME,INSTITUTE
MARY,SABHARI

In [49]:
-- 98. Which language listed in prof1, prof2 has not been used to develop any package. 
(SELECT PROF1 FROM PROGRAMMER UNION SELECT PROF2 FROM PROGRAMMER)
EXCEPT
(SELECT DEVELOPIN FROM SOFTWARE)

PROF1
CLIPPER
FOXPRO

In [4]:
-- 99. How much does the person who developed the highest selling package earn and what course did HE/SHE undergo. 
SELECT S.PNAME, SALARY, SS.COURSE
FROM SOFTWARE S JOIN PROGRAMMER P ON S.PNAME=P.PNAME JOIN STUDIES SS ON S.PNAME=SS.PNAME
WHERE SOLD=(SELECT MAX(SOLD)
FROM SOFTWARE)

PNAME,SALARY,COURSE
MARY,4500,PGDCA

In [5]:
-- 100. What is the AVG salary for those whose software sales is more than 50,000/-. 
SELECT AVG(SALARY) FROM PROGRAMMER P LEFT JOIN SOFTWARE S ON P.PNAME=S.PNAME WHERE (SOLD*SCOST)>50000

(No column name)
3660

In [20]:
-- 101. How many packages were developed by students, who studied in institute that 
-- charge the lowest course fee?
WITH
    CTE_LOW_FEE_INS
    AS
    (
        SELECT INSTITUTE, DENSE_RANK()OVER(ORDER BY AVG([COURSE FEE])) RANK
        FROM STUDIES
        GROUP BY INSTITUTE
    )

SELECT INSTITUTE, COUNT(TITLE) AS NO_OF_PACKAGES_DEVELOPED
FROM SOFTWARE S LEFT JOIN STUDIES SS ON S.PNAME=SS.PNAME
WHERE INSTITUTE IN (SELECT INSTITUTE
FROM CTE_LOW_FEE_INS
WHERE RANK=1)
GROUP BY INSTITUTE

INSTITUTE,NO_OF_PACKAGES_DEVELOPED
SABHARI,8

In [28]:
-- 102. How many packages were developed by the person who developed the 
-- cheapest package, where did HE/SHE study?
WITH
    CTE_CHEAP_DEV
    AS
    (
        SELECT PNAME
        FROM SOFTWARE
        WHERE DCOST=(SELECT MIN(DCOST)
        FROM SOFTWARE)
    )
SELECT S.PNAME, COUNT(*) NO_OF_PACKAGES_DEVELOPED, SS.INSTITUTE
FROM SOFTWARE S LEFT JOIN STUDIES SS ON S.PNAME=SS.PNAME
WHERE S.PNAME IN (SELECT PNAME
FROM CTE_CHEAP_DEV)
GROUP BY S.PNAME, SS.INSTITUTE

PNAME,NO_OF_PACKAGES_DEVELOPED,INSTITUTE
VIJAYA,1,BDPS

In [30]:
-- 103. How many packages were developed by the female programmers earning more 
-- than the highest paid male programmer? 
SELECT COUNT(*) NO_OF_PACKAGES
FROM SOFTWARE S LEFT JOIN PROGRAMMER P ON S.PNAME=P.PNAME
WHERE GENDER='F' AND SALARY > (SELECT MAX(SALARY)
    FROM PROGRAMMER
    WHERE GENDER='M')

NO_OF_PACKAGES
7

In [32]:
-- 104. How many packages are developed by the most experienced programmer from 
-- BDPS. 
SELECT COUNT(*) NO_OF_PACKAGES_DEVELOPED
FROM SOFTWARE S LEFT JOIN PROGRAMMER P ON S.PNAME=P.PNAME
WHERE DOJ = (SELECT MIN(DOJ)
FROM PROGRAMMER)

NO_OF_PACKAGES_DEVELOPED
0

In [36]:
-- 105. List the programmers (form the software table) and the institutes they studied. 
SELECT DISTINCT S.PNAME, INSTITUTE FROM SOFTWARE S LEFT JOIN STUDIES SS ON S.PNAME=SS.PNAME

PNAME,INSTITUTE
ANAND,SABHARI
JULIANA,BDPS
KAMALA,PRAGATHI
MARY,SABHARI
PATTRICK,NULL
QADIR,APPLE
RAMESH,SABHARI
REMITHA,BDPS
REVATHI,SABHARI
VIJAYA,BDPS

In [3]:
-- 106. List each PROF with the number of Programmers having that PROF and the 
-- number of the packages in that PROF.
WITH
    CTE_PROF
    AS
    (
        SELECT PROF1, COUNT(*) AS NO_OF_PROGRAMMERS
        FROM (                SELECT PROF1
                FROM PROGRAMMER
            UNION ALL
                SELECT PROF2
                FROM PROGRAMMER) A
        GROUP BY PROF1
    )

SELECT PROF1, COUNT(TITLE) NO_OF_PACKAGES, NO_OF_PROGRAMMERS
FROM CTE_PROF C LEFT JOIN SOFTWARE S ON C.PROF1=S.DEVELOPIN
GROUP BY PROF1,NO_OF_PROGRAMMERS

PROF1,NO_OF_PACKAGES,NO_OF_PROGRAMMERS
ASSEMBLY,2,2
BASIC,1,3
C,4,4
CLIPPER,0,2
COBOL,1,4
CPP,2,1
DBASE,2,4
FOXPRO,0,1
ORACLE,1,1
PASCAL,3,4

In [6]:
-- 107. List the programmer names (from the programmer table) and No. Of Packages 
-- each has developed. 
SELECT P.PNAME, COUNT(*) NO_OF_PACKAGES FROM PROGRAMMER P LEFT JOIN SOFTWARE S ON P.PNAME=S.PNAME GROUP BY P.PNAME

PNAME,NO_OF_PACKAGES
ALTAF,1
ANAND,2
JULIANA,1
KAMALA,1
MARY,3
NELSON,1
PATTRICK,1
QADIR,2
RAMESH,2
REBECCA,1
REMITHA,2
REVATHI,1
VIJAYA,1