In [ ]:
-- create DATABASE CASE_STUDY_THREE

In [3]:
-- 1) Display the count of customer in each region who has done the transaction in year 2020
SELECT region_id,COUNT(*) no_of_customers
from customers c 
left join [transaction] t on c.customer_id=t.customer_id
where year(txn_date)=2020
group by region_id

region_id,no_of_customers
3,8414
1,9107
4,7952
5,6797
2,8806

In [6]:
-- 2) Display the maximum, minimum of transaction amount of each transaction type
SELECT TXN_TYPE,MAX(TXN_AMOUNT) AS MAX_AMT, MIN(TXN_AMOUNT) AS MIN_AMT
FROM [TRANSACTION]
GROUP BY TXN_TYPE

TXN_TYPE,MAX_AMT,MIN_AMT
purchase,999,1
withdrawal,999,1
deposit,1000,0

In [5]:
-- 3) Display customer id, region name and transaction amount where transaction type is deposit and
-- transaction amount > 2000.

SELECT C.customer_id,CC.region_name,T.txn_amount FROM CUSTOMERS C
LEFT JOIN [TRANSACTION] T ON C.CUSTOMER_ID=T.CUSTOMER_ID
LEFT JOIN Continent CC ON C.region_id=CC.region_id
WHERE TXN_TYPE='DEPOSIT' AND TXN_AMOUNT>2000

In [10]:
-- 4) Find duplicate records in a customer table.
SELECT customer_id, COUNT(*) AS NO_OF_DUPLICATE_RECORDS
FROM Customers
GROUP BY customer_id
HAVING COUNT(*) >1
ORDER BY customer_id

(No column name)
3500

In [ ]:
-- 5) Display the detail of customer id, region name, transaction type and transaction amount for the
-- minimum transaction amount in deposit.