In [ ]:
-- create DATABASE CASE_STUDY_THREE

In [3]:
-- 1) Display the count of customer in each region who has done the transaction in year 2020
SELECT region_id,COUNT(*) no_of_customers
from customers c 
left join [transaction] t on c.customer_id=t.customer_id
where year(txn_date)=2020
group by region_id

region_id,no_of_customers
3,8414
1,9107
4,7952
5,6797
2,8806

In [6]:
-- 2) Display the maximum, minimum of transaction amount of each transaction type
SELECT TXN_TYPE,MAX(TXN_AMOUNT) AS MAX_AMT, MIN(TXN_AMOUNT) AS MIN_AMT
FROM [TRANSACTION]
GROUP BY TXN_TYPE

TXN_TYPE,MAX_AMT,MIN_AMT
purchase,999,1
withdrawal,999,1
deposit,1000,0

In [5]:
-- 3) Display customer id, region name and transaction amount where transaction type is deposit and
-- transaction amount > 2000.

SELECT C.customer_id,CC.region_name,T.txn_amount FROM CUSTOMERS C
LEFT JOIN [TRANSACTION] T ON C.CUSTOMER_ID=T.CUSTOMER_ID
LEFT JOIN Continent CC ON C.region_id=CC.region_id
WHERE TXN_TYPE='DEPOSIT' AND TXN_AMOUNT>2000

In [10]:
-- 4) Find duplicate records in a customer table.
SELECT customer_id, COUNT(*) AS NO_OF_DUPLICATE_RECORDS
FROM Customers
GROUP BY customer_id
HAVING COUNT(*) >1
ORDER BY customer_id

(No column name)
3500

In [11]:
-- 5) Display the detail of customer id, region name, transaction type and transaction amount for the
-- minimum transaction amount in deposit.
SELECT C.customer_id,CC.region_name,T.txn_type,T.txn_amount FROM CUSTOMERS C
LEFT JOIN [TRANSACTION] T ON C.CUSTOMER_ID=T.CUSTOMER_ID
LEFT JOIN Continent CC ON C.region_id=CC.region_id
WHERE TXN_TYPE='DEPOSIT' AND TXN_AMOUNT=(select min(txn_amount) from [Transaction] where txn_type='deposit')

customer_id,region_name,txn_type,txn_amount
32,Asia,deposit,0
32,Asia,deposit,0
32,Asia,deposit,0
32,Asia,deposit,0
32,Asia,deposit,0
32,Asia,deposit,0
32,Asia,deposit,0

In [36]:
-- 6) Create a stored procedure to display details of customer and transaction table where transaction
-- date is greater than Jun 2020.

CREATE PROCEDURE sp_display_details
AS
BEGIN
SELECT * FROM Customers C 
LEFT JOIN [Transaction] T ON C.customer_id=T.customer_id
WHERE txn_date >= '2020-07-01'
END
GO

In [39]:
-- drop PROCEDURE dbo.sp_display_details
EXEC dbo.sp_display_details;

In [40]:
-- 7) Create a stored procedure to insert a record in the continent table.
CREATE PROCEDURE sp_insert_continet
@regionId int,
@regionName VARCHAR(100)
AS
BEGIN
INSERT INTO Continent VALUES(@regionId,@regionName);
END
GO

In [43]:
EXEC dbo.sp_insert_continet 100,'Citadel'

In [46]:
-- 8) Create a stored procedure to display the details of transactions that happened on a specific day.
CREATE PROCEDURE sp_get_txn_details_on_day(
    @txnDate DATETIME2
)
AS
BEGIN
SELECT * FROM [Transaction] WHERE txn_date=@txnDate
END
GO

In [48]:
EXEC sp_get_txn_details_on_day '2020-01-13'

customer_id,txn_date,txn_type,txn_amount
309,2020-01-13,deposit,995
188,2020-01-13,deposit,601
168,2020-01-13,deposit,114
296,2020-01-13,deposit,846
74,2020-01-13,deposit,229
10,2020-01-13,deposit,556
288,2020-01-13,deposit,586
350,2020-01-13,deposit,167
299,2020-01-13,deposit,881
16,2020-01-13,deposit,421
403,2020-01-13,deposit,232
279,2020-01-13,deposit,98
87,2020-01-13,deposit,777
181,2020-01-13,deposit,865
149,2020-01-13,deposit,831
471,2020-01-13,deposit,781
459,2020-01-13,deposit,857
399,2020-01-13,deposit,780
12,2020-01-13,deposit,202
370,2020-01-13,deposit,363
196,2020-01-13,deposit,734
107,2020-01-13,deposit,538
309,2020-01-13,purchase,532
376,2020-01-13,deposit,628
402,2020-01-13,withdrawal,127
292,2020-01-13,withdrawal,289
441,2020-01-13,withdrawal,207
276,2020-01-13,purchase,922
276,2020-01-13,purchase,465
356,2020-01-13,withdrawal,532
205,2020-01-13,withdrawal,296
481,2020-01-13,withdrawal,42
288,2020-01-13,deposit,758
396,2020-01-13,withdrawal,201
212,2020-01-13,withdrawal,159
405,2020-01-13,purchase,209
110,2020-01-13,withdrawal,944
492,2020-01-13,purchase,368
477,2020-01-13,withdrawal,894
58,2020-01-13,withdrawal,775
279,2020-01-13,deposit,116
180,2020-01-13,purchase,556
353,2020-01-13,purchase,935
94,2020-01-13,withdrawal,435
76,2020-01-13,withdrawal,900
333,2020-01-13,purchase,140
347,2020-01-13,purchase,232
86,2020-01-13,deposit,592
281,2020-01-13,purchase,198
399,2020-01-13,withdrawal,187
449,2020-01-13,purchase,753
145,2020-01-13,withdrawal,373
179,2020-01-13,deposit,470
438,2020-01-13,withdrawal,68

In [49]:
-- 9) Create a user defined function to add 10% of the transaction amount in a table.

CREATE FUNCTION udf_update_txn_amount()
returns int
AS
BEGIN
UPDATE [dbo].[Transaction]
SET
    [txn_amount] = txn_amount*1.10
return 0
END

: Msg 443, Level 16, State 15, Procedure udf_update_txn_amount, Line 7
Invalid use of a side-effecting operator 'UPDATE' within a function.