### Module 3 - Statistics - Assignment 1

```
1. Create a table in excel, table should have 2 columns named x and y:
a. ‘x’ column should have numbers from 1-5
b. ‘y’ should have numbers 2, 4, 5, 4, 2
c. Now calculate the mean of columns x and y
d. Calculate the mode of column x
e. Calculate the standard deviation of column y
f. At last calculate the range of columns x and y separately.
```

In [26]:
# Note: I'm are leveraging Pandas library here instead of excel.

# import pkgutil
# if pkgutil.find_loader('pandas') is not None:
# 	print("Package is installed")
# else:
# 	print("Package is not installed. Installing Now.")
# 	%pip install pandas

import pandas as pd
data={'x':[*range(1,6)],'y':[2,4,5,4,2]}
df=pd.DataFrame(data)
df.describe()

              x         y
count  5.000000  5.000000
mean   3.000000  3.400000
std    1.581139  1.341641
min    1.000000  2.000000
25%    2.000000  2.000000
50%    3.000000  4.000000
75%    4.000000  4.000000
max    5.000000  5.000000

In [12]:
df.mean()

x    3.0
y    3.4
dtype: float64

In [22]:
df.mode()['x']
# there is no mode in x

0    1
1    2
2    3
3    4
4    5
Name: x, dtype: int64

In [21]:
df.std()['y']

1.3416407864998738

In [32]:
x_range=df['x'].max()-df['x'].min()
x_range

4

In [33]:
x_range=df['y'].max()-df['y'].min()
x_range

3