### Assignment 1 - Data Structure

```
1. Create a list named ‘myList’ that has the following elements: 10, 20, 30,
‘apple’, True, 8.10:
a. Now in the ‘myList’, append these values: 30, 40
b. After that, reverse the elements of the ‘myList’ and store that in
‘reversedList’
```

In [10]:
myList = [10, 20, 30, 'apple', True, 8.10]
myList.extend([30, 40])
# reversedList=myList.reverse() or myList
reversedList = myList[::-1]
reversedList

[40, 30, 8.1, True, 'apple', 30, 20, 10]

```
2. Create a dictionary with key values as 1, 2, 3 and the values as ‘data’,
‘information’ and ‘text’:
a. After that, eliminate the ‘text’ value from the dictionary
b. Add ‘features’ in the dictionary
c. Fetch the ‘data’ element from the dictionary and display it in the output

```

In [16]:
dic = {1: 'data', 2: 'information', 3: 'text'}
dic.pop(3)
dic[3] = 'features'
dic

{1: 'data', 2: 'information', 3: 'features'}

3. Create a tuple and add these elements 1, 2, 3, apple, mango in my_tuple.

In [5]:
my_tuple = (1, 2, 3, 'apple', 'mango')

```
4. Create another tuple named numeric_tuple consisting of only integer
values 10, 20, 30, 40, 50:
a. Find the minimum value from the numeric_tuple
b. Concatenate my_tuple with numeric_tuple and store the result in r1
c. Duplicate the tuple named my_tuple 2 times and store that in ‘newdupli’

```

In [6]:
numeric_tuple = (10, 20, 30, 40, 50)
min(numeric_tuple)

10

In [7]:
r1 = my_tuple+numeric_tuple
r1

(1, 2, 3, 'apple', 'mango', 10, 20, 30, 40, 50)

In [8]:
newdupli = my_tuple*2
newdupli

(1, 2, 3, 'apple', 'mango', 1, 2, 3, 'apple', 'mango')

```
5. Create 2 sets with the names set1 and set2, where set1 contains
{1,2,3,4,5} and set2 contains {2,3,7,6,1}
Perform the below operation:
a. set1 union set2
b. set1 intersection set2
c. set1 difference set2
```

In [9]:
set1={1,2,3,4,5}
set2={2,3,7,6,1}

In [10]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7}

In [11]:
set1.intersection(set2)

{1, 2, 3}

In [12]:
set1.difference(set2)

{4, 5}