In [40]:
-- 1. Create a user-defined functions to stuff the Chicken into ‘Quick Bites’. Eg: ‘Quick
-- Chicken Bites’.
CREATE OR ALTER FUNCTION udf_stuff_chicken(
    @restaurant_type VARCHAR(50)
)
RETURNS VARCHAR(100)
AS
BEGIN
    IF @restaurant_type='Quick Bites'
        RETURN 'Quick Chicken Bites'
    RETURN @restaurant_type
END

In [41]:
SELECT top 10 RestaurantName,dbo.udf_stuff_chicken(restaurantType) as changed_restaurant_type
FROM restaurants
WHERE restaurantType='Quick Bites'

RestaurantName,changed_restaurant_type
L-81 Cafe,Quick Chicken Bites
1000 B.C,Quick Chicken Bites
11 to 11 Express Biriyanis,Quick Chicken Bites
1992 Chats - Space,Quick Chicken Bites
29 Degrees North,Quick Chicken Bites
2nd Home Restaurant,Quick Chicken Bites
30 Square,Quick Chicken Bites
4Foodiez,Quick Chicken Bites
4Foodiez - The Restaurant,Quick Chicken Bites
5 Star Food,Quick Chicken Bites

In [42]:
-- 2. Use the function to display the restaurant name and cuisine type which has the
-- maximum number of rating.
CREATE OR ALTER FUNCTION udf_get_max_rating_restaurant()
RETURNS TABLE
AS
RETURN(
SELECT RestaurantName,CuisinesType
FROM restaurants
WHERE Rating=(select MAX(Rating) FROM restaurants)
)

In [43]:
select * FROM dbo.udf_get_max_rating_restaurant()

RestaurantName,CuisinesType
Asia Kitchen By Mainland China,"Asian, Chinese, Thai, Momos"
Byg Brewski Brewing Company,"Continental, North Indian, Italian, South Indian, Finger Food"
Sant?de?ed??ede??d??ede?ed???de??d??ede?ed??ede??d???de?ed???de??d??? Spa Cuisine,"Healthy Food, Salad, Mediterranean"

In [44]:
-- 3. Create a Rating Status column to display the rating as ‘Excellent’ if it has more the 4
-- start rating, ‘Good’ if it has above 3.5 and below 5 star rating, ‘Average’ if it is above 3
-- and below 3.5 and ‘Bad’ if it is below 3 star rating.
CREATE OR ALTER FUNCTION udf_get_rating_status(
    @rating FLOAT
)
RETURNS VARCHAR(50)
AS
BEGIN
    RETURN CASE
        WHEN @rating>4 THEN 'Excellent'
        WHEN @rating>3.5 AND @rating<4 THEN 'Good'
        WHEN @rating>3 AND @rating<3.5 THEN 'Average'
        ELSE 'Bad'
    END
END

In [45]:
SELECT top 20 RestaurantName,Rating,dbo.udf_get_rating_status(rating) as RatingSatus
FROM restaurants

RestaurantName,Rating,RatingSatus
L-81 Cafe,3.9,Good
refuel,3.7,Good
Biryani Central,2.7,Bad
The Bbq,2.8,Bad
The Bbq,3.4,Average
Italy,4.1,Excellent
North Parontha Hut,2.8,Bad
1000 B.C,3.2,Average
1Q1,3.7,Good
11 to 11 Express Biriyanis,3.5,Bad
1131 Bar + Kitchen,4.4,Excellent
12th Main - Grand Mercure,4.1,Excellent
1441 Pizzeria,4.1,Excellent
1522 - The Pub,4.2,Excellent
154 Breakfast Club,4,Bad
1722 Urban Bistro,4.1,Excellent
18+ Ice Cafe,3.5,Bad
States,3.9,Good
1980s Games Cafe,3.4,Average
1992 Chats - Space,3.7,Good

In [46]:
-- 4. Find the Ceil, floor and absolute values of the rating column and display the current date
-- and separately display the year, month_name and day.
SELECT TOP 10
rating,
FLOOR(Rating) as FloorRating,
CEILING(Rating) as CeilingRating,
ABS(Rating) as AbsoluteRating
FROM restaurants

rating,FloorRating,CeilingRating,AbsoluteRating
3.9,3,4,3.9
3.7,3,4,3.7
2.7,2,3,2.7
2.8,2,3,2.8
3.4,3,4,3.4
4.1,4,5,4.1
2.8,2,3,2.8
3.2,3,4,3.2
3.7,3,4,3.7
3.5,3,4,3.5

In [47]:
-- SELECT CURRENT_TIMESTAMP
-- SELECT GETDATE()
SELECT convert(date,GETDATE()), YEAR(GETDATE()),DATENAME(MONTH,GETDATE()),DAY(GETDATE())

(No column name),(No column name),(No column name),(No column name)
2023-11-17,2023,November,17

In [48]:
-- 5. Display the restaurant type and total average cost using rollup.
SELECT RestaurantType,SUM(AverageCost) as TotalAverageCost
FROM restaurants
GROUP BY RestaurantType
WITH ROLLUP
ORDER BY TotalAverageCost desc

RestaurantType,TotalAverageCost
NULL,3807739
Casual Dining,1220950
Quick Bites,860740
Cafe,234150
Fine Dining,220000
Delivery,148850
"Casual Dining, Bar",138650
"Takeaway, Delivery",111939
Bar,104400
Lounge,102750