In [1]:
IF NOT EXISTS( SELECT * FROM sys.databases WHERE name = 'ABC_Fashion')
BEGIN
CREATE DATABASE ABC_Fashion
END

In [2]:
USE ABC_Fashion
SELECT * from ABC_Fashion.INFORMATION_SCHEMA.TABLES

TABLE_CATALOG,TABLE_SCHEMA,TABLE_NAME,TABLE_TYPE
ABC_Fashion,dbo,sysdiagrams,BASE TABLE
ABC_Fashion,dbo,orders,BASE TABLE
ABC_Fashion,dbo,customer,BASE TABLE
ABC_Fashion,dbo,salesman,BASE TABLE

In [58]:
-- 1. Insert a new record in your Orders table.
-- INSERT INTO salesman
-- VALUES
-- (101,'Joe',50,'California',17),
-- (102,'Simon',75,'Texas',25),
-- (103,'Jessie',105,'Florida',35),
-- (104,'Danny',100,'Texas',22),
-- (105,'Lia',65,'New Jersy',30)

In [7]:
TRUNCATE TABLE CUSTOMER
GO
INSERT INTO CUSTOMER
VALUES
(2345,'Andrew',550,101),
(1575,'Lucky',4500,103),
(2345,'Andrew',4000,104),
(3747,'Remona',2700,105),
(4004,'Julia',4545,104)

In [25]:
-- INSERT INTO ORDERS
-- VALUES
-- (5001,101,2345,'2021-04-07',550),
-- (5003,105,1234,'2022-02-15',1500)

In [26]:
-- 1. Insert a new record in your Orders tabl
-- INSERT INTO ORDERS
-- VALUES(5004,104,1575,'2022-02-15',6000)

In [3]:
-- 2. Add Primary key constraint for SalesmanId column in Salesman table.
ALTER TABLE SALESMAN 
ADD CONSTRAINT PK_SALESMAN 
PRIMARY KEY (SALESMAN_ID)

: Msg 1779, Level 16, State 0, Line 2
Table 'SALESMAN' already has a primary key defined on it.

: Msg 1750, Level 16, State 0, Line 2
Could not create constraint or index. See previous errors.

In [4]:
--  Add default constraint for City column in Salesman table.
ALTER TABLE SALESMAN
ADD CONSTRAINT DF_CITY
DEFAULT 'INDIAN_CITY' FOR City

In [8]:
--  Add Foreign key constraint for SalesmanId column in Customer table.
ALTER TABLE CUSTOMER
ADD CONSTRAINT FK_Customer_SalesmanId
FOREIGN KEY (salesman_id) REFERENCES salesman(salesman_id)

In [10]:
-- SELECT CONSTRAINT_NAME, CONSTRAINT_TYPE
-- FROM INFORMATION_SCHEMA.TABLE_CONSTRAINTS
-- WHERE TABLE_NAME='customer'

CONSTRAINT_NAME,CONSTRAINT_TYPE
FK_Customer_SalesmanId,FOREIGN KEY

In [11]:
--  Add not null constraint in Customer_name column for the Customer table
ALTER TABLE Customer
ALTER COLUMN CUSTOMER_NAME VARCHAR(50) NOT NULL

In [17]:
-- 3. Fetch the data where the Customer’s name is ending with ‘N’ also get the purchase
-- amount value greater than 500.
SELECT * FROM customer
WHERE customer_name LIKE '%n' AND purchase_amount>500

In [18]:
-- 4. Using SET operators, retrieve the first result with unique SalesmanId values from two
-- tables, and the other result containing SalesmanId with duplicates from two tables.
-- did not understand this question
SELECT distinct salesman_id
FROM salesman

salesman_id
101
102
103
104
105

In [20]:
-- 5. Display the below columns which has the matching data.
-- Orderdate, Salesman Name, Customer Name, Commission, and City which has the
-- range of Purchase Amount between 500 to 1500.
SELECT o.order_date,s.salesman_name,c.customer_name,s.commision,s.city,c.purchase_amount
FROM customer c
LEFT JOIN salesman s ON c.salesman_id=s.salesman_id
LEFT JOIN orders o ON c.customer_id=o.customer_id
WHERE purchase_amount BETWEEN 500 AND 1500

order_date,salesman_name,customer_name,commision,city,purchase_amount
2021-04-07,Joe,Andrew,50,California,550.00

In [24]:
-- 6. Using right join fetch all the results from Salesman and Orders table.
SELECT s.salesman_id,s.salesman_name,o.amount
FROM salesman s
RIGHT JOIN orders o ON s.salesman_id=o.salesman_id

salesman_id,salesman_name,amount
101,Joe,550
105,Lia,1500
104,Danny,6000